

# Verification


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**id** | **String** | ID of the verification. |  |
|**status** | **VerificationStatus** |  |  [optional] |
|**to** | **String** | Recipient of the verification. |  [optional] |
|**channel** | **VerificationChannel** |  |  [optional] |
|**sendTime** | **Date** | The time at which this verification was sent, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., &#x60;2022-06-01T12:00:00.000Z&#x60;. |  [optional] |
|**totalPrice** | **Double** | Total price of this verification. Currency: USD. |  [optional] |



