

# VerificationStatus

## Enum


* `PENDING` (value: `"pending"`)

* `APPROVED` (value: `"approved"`)

* `BLOCKED` (value: `"blocked"`)

* `EXPIRED` (value: `"expired"`)

* `UNDELIVERED` (value: `"undelivered"`)



