openapi: 3.0.0
info:
  contact:
    email: service@ycloud.com
  description: "The [YCloud](https://ycloud.com) API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\
    \ Our API is designed to have predictable, resource-oriented URLs, return [JSON](https://www.json.org)\
    \ responses, and use standard HTTP response codes and verbs."
  termsOfService: https://ycloud.com/terms-service
  title: YCloud API
  version: v2
externalDocs:
  description: YCloud Homepage
  url: https://ycloud.com
servers:
- description: YCloud API base URL
  url: https://api.ycloud.com/v2
security:
- api_key: []
tags:
- name: Balance
- name: Emails
- name: SMS
- name: Verify
- name: Voices
- name: Webhook Endpoints
- name: WhatsApp Business Accounts
- name: WhatsApp Messages
- name: WhatsApp Phone Numbers
- name: WhatsApp Templates
paths:
  /balance:
    get:
      description: Retrieves the current account balance.
      operationId: balance-retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: Successfully retrieved balance.
      summary: Retrieve balance
      tags:
      - Balance
      x-accepts: application/json
  /emails:
    post:
      description: Sends an outbound email message.
      operationId: email-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: The request is successfully accepted.
      summary: Send an email
      tags:
      - Emails
      x-content-type: application/json
      x-accepts: application/json
  /sms:
    get:
      description: Returns a paginated list of SMS messages you've previously sent.
      operationId: sms-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List SMS records
      tags:
      - SMS
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound text message.
      operationId: sms-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
        description: SMS request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sms'
          description: The request is successfully accepted.
      summary: Send an SMS
      tags:
      - SMS
      x-content-type: application/json
      x-accepts: application/json
  /verify/verifications:
    post:
      description: "Starts a verification by sending an SMS, voice, or email message\
        \ to the recipient.\nThis verification is charged once the message is sent\
        \ successfully."
      operationId: verification-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationSendRequest'
        description: Verification request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verification'
          description: The request is successfully accepted.
      summary: Start a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /verify/verificationChecks:
    post:
      description: "Checks a verification with a phone number, an email address, or\
        \ a verification ID.\nA `pending` verification status changes to `approved`\
        \ once you receive a response with the `valid` parameter is `true`. An approved\
        \ verification cannot be checked anymore."
      operationId: verification-check
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCheck'
          description: Successfully processed the verification check.
      summary: Check a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /voices:
    get:
      description: Returns a paginated list of voice calls you've previously sent.
      operationId: voice-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List voice records
      tags:
      - Voices
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound voice call verification code.
      operationId: voice-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSendRequest'
        description: Voice call request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
          description: The request is successfully accepted.
      summary: Send a voice code
      tags:
      - Voices
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints:
    get:
      description: Returns a paginated list of webhook endpoints.
      operationId: webhook_endpoint-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List webhook endpoints
      tags:
      - Webhook Endpoints
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a webhook endpoint listening the specified events.
      operationId: webhook_endpoint-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully created a webhook endpoint.
      summary: Create a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}:
    delete:
      description: Deletes a webhook endpoint.
      operationId: webhook_endpoint-delete
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully deleted the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    get:
      description: Retrieves the webhook endpoint with the given ID.
      operationId: webhook_endpoint-retrieve
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully retrieved the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    patch:
      description: "Updates a webhook endpoint, such as url, events, status."
      operationId: webhook_endpoint-update
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully updated the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}/rotateSecret:
    post:
      description: Generates a new secret for a webhook endpoint.
      operationId: webhook_endpoint-rotate-secret
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully rotated the webhook endpoint secret.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Rotate a webhook endpoint secret
      tags:
      - Webhook Endpoints
      x-accepts: application/json
  /whatsapp/businessAccounts:
    get:
      description: Returns a paginated list of WhatsApp business accounts you've registered
        on YCloud.
      operationId: whatsapp_business_account-list
      parameters:
      - description: WhatsApp Business Account review status.
        explode: true
        in: query
        name: filter.accountReviewStatus
        required: false
        schema:
          example: APPROVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccount'
          description: Successfully retrieved a paginated list of objects.
      summary: List WABAs
      tags:
      - WhatsApp Business Accounts
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/businessAccounts/{id}:
    get:
      description: Retrieves a WABA you've registered on YCloud.
      operationId: whatsapp_business_account-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccount'
          description: Successfully retrieved the WABA.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WABA
      tags:
      - WhatsApp Business Accounts
      x-accepts: application/json
  /whatsapp/messages:
    post:
      description: Sends an outbound WhatsApp message.
      operationId: whatsapp_message-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Send a WhatsApp message
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages/{id}:
    get:
      description: Retrieves a WhatsApp message you've previously sent.
      operationId: whatsapp_message-retrieve
      parameters:
      - description: ID of the object.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp message
      tags:
      - WhatsApp Messages
      x-accepts: application/json
  /whatsapp/phoneNumbers:
    get:
      description: Returns a paginated list of WhatsApp business account phone numbers
        you've registered on YCloud.
      operationId: whatsapp_phone_number-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WhatsApp phone numbers
      tags:
      - WhatsApp Phone Numbers
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}:
    get:
      description: Retrieves a WhatsApp business account phone number you've registered
        on YCloud.
      operationId: whatsapp_phone_number-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp phone number
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
  /whatsapp/templates:
    get:
      description: Returns a paginated list of WhatsApp templates you've previously
        created.
      operationId: whatsapp_template-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      - description: Name of the template.
        explode: true
        in: query
        name: filter.name
        required: false
        schema:
          example: sample_whatsapp_template
          maxLength: 512
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: form
      - description: Language of the template.
        explode: true
        in: query
        name: filter.language
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplatePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WhatsApp templates
      tags:
      - WhatsApp Templates
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: "Creates a WhatsApp template. See also [Create Message Templates](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates/#create-message-templates)."
      operationId: whatsapp_template-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully created a WhatsApp template.
      summary: Create a WhatsApp template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}:
    delete:
      description: "Deletes WhatsApp templates by name. If that template name exists\
        \ in multiple languages, all languages will be deleted.\nHTTP status `404`\
        \ is returned if no templates are found for the specific name."
      operationId: whatsapp_template-delete-by-name
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WhatsappTemplate'
                type: array
          description: Successfully deleted the template(s).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete WhatsApp templates by name
      tags:
      - WhatsApp Templates
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}/{language}:
    get:
      description: Retrieves a WhatsApp template by name and language.
      operationId: whatsapp_template-retrieve-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages-)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully retrieved the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    patch:
      description: "Edits a WhatsApp template by name and language.\nEditing a template\
        \ replaces its old contents entirely, so include any components you wish to\
        \ preserve as well as components you wish to update using the components parameter.\n\
        See also [Edit a Message Template](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates#edit-a-message-template)."
      operationId: whatsapp_template-edit-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages-)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully edited the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Edit a WhatsApp template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    filter_createTime_gte-default_1d:
      description: "Return results where the `createTime` field is greater than or\
        \ equal to this value. Default: One day ago from now."
      explode: true
      in: query
      name: filter.createTime.gte
      required: false
      schema:
        example: 2022-03-01T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_createTime_lte:
      description: Return results where the `createTime` field is less than or equal
        to this value.
      explode: true
      in: query
      name: filter.createTime.lte
      required: false
      schema:
        example: 2022-03-31T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_id:
      description: Unique object ID on our side. Other filter parameters will be ignored
        if this parameter is present.
      explode: true
      in: query
      name: filter.id
      required: false
      schema:
        type: string
      style: form
    filter_wabaId:
      description: WhatsApp Business Account ID.
      explode: true
      in: query
      name: filter.wabaId
      required: false
      schema:
        example: whatsapp-business-account-id
        type: string
      style: form
    filter_accountReviewStatus-WABA:
      description: WhatsApp Business Account review status.
      explode: true
      in: query
      name: filter.accountReviewStatus
      required: false
      schema:
        example: APPROVED
        type: string
      style: form
    id-in_path:
      description: ID of the object.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 627c8640675de8fc689ab9d9
        type: string
      style: simple
    id-in_path_for_webhook_endpoint:
      description: ID of the webhook endpoint.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: wh627c8640675de8fc689ab9d9
        type: string
      style: simple
    includeTotal:
      description: Return results inside an object that contains the total result
        count or not.
      explode: true
      in: query
      name: includeTotal
      required: false
      schema:
        default: false
        type: boolean
      style: form
    limit:
      description: "A limit on the number of results to be returned, or number of\
        \ results per page, between 1 and 100, defaults to 10."
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    page:
      description: "Page number of the results to be returned, 1-based."
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    wabaId-in_path:
      description: WhatsApp Business Account ID.
      explode: false
      in: path
      name: wabaId
      required: true
      schema:
        example: whatsapp-business-account-id
        type: string
      style: simple
  schemas:
    Balance:
      example:
        amount: 190.0765
        currency: USD
      properties:
        amount:
          description: Balance of current account.
          example: 190.0765
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - amount
      - currency
      type: object
    Email:
      example:
        cc:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        summary: This is a summary.
        totalRecipients: 3
        bcc:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        totalPrice: 0.0085
        subject: subject
        externalId: externalId
        createTime: 2022-06-01T12:00:00Z
        replyTo:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        from:
          address: team@example.com
          name: YCloud Team
        callbackUrl: https://httpbin.org/anything?tag=api-email
        currency: USD
        id: id
        to:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        contentType: null
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        from:
          $ref: '#/components/schemas/Mailbox'
        to:
          description: The intended recipients' email addresses.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        cc:
          description: Recipients who will receive a copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        bcc:
          description: Recipients who will receive a blind carbon copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        replyTo:
          description: "If this field exists, then the reply should go to the addresses\
            \ indicated in that field and not to the address(es) indicated in the\
            \ `from` field."
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        subject:
          description: "The email subject, which contains a short string identifying\
            \ the topic of the message."
          maxLength: 255
          type: string
        summary:
          description: "This is a summary of your email. Max length: 70."
          example: This is a summary.
          maxLength: 70
          type: string
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-email
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        totalRecipients:
          description: "Total recipients of this message, including `to`, `cc` and\
            \ `bcc`."
          example: 3
          format: int32
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - id
      type: object
    EmailContentType:
      description: The MIME type of the email content (`text/html` or `text/plain`).
        Be aware that We won't count click and open events for the type `text/plain`.
      enum:
      - text/html
      - text/plain
      type: string
      x-enum-varnames:
      - TEXT_HTML
      - TEXT_PLAIN
    EmailDelivery:
      description: Represents an email delivery report.
      properties:
        emailId:
          description: Unique ID for the related email you've previously sent.
          maxLength: 128
          minLength: 6
          type: string
        recipientAddress:
          description: A recipient's email address.
          example: tom@example.com
          type: string
        status:
          description: Delivery status of the email to the specific recipient address.
          enum:
          - sending
          - sent
          - delivered
          - failed
          example: failed
          type: string
        errorCode:
          description: Error code when the email is undeliverable.
          example: "402"
          type: string
        errorMessage:
          description: Error message when the email is undeliverable.
          example: Unsubscribes
          type: string
        externalId:
          description: The `externalId` you specified when you sent the email.
          type: string
      required:
      - emailId
      - recipientAddress
      type: object
    EmailSendRequest:
      example:
        cc: "cc1@example.com,Nick<cc2@example.com>"
        summary: This is a summary.
        variables:
        - key: variables
        - key: variables
        bcc: "bcc1@example.com,Nick<bcc2@example.com>"
        subject: subject
        replyTo: replyTo
        externalId: externalId
        from: YCloud<ycloud@ycloud-mail.com>
        callbackUrl: https://httpbin.org/anything?tag=api-email
        to: "to1@example.com,Nick<to2@example.com>"
        contentType: null
        content: "This is a test message from #nick#."
      properties:
        from:
          description: "- The sender's email. Its domain should be one that has been\
            \ registered and activated in your YCloud account.\n- The test address\
            \ provided by YCloud is `ycloud@ycloud-mail.com`, which only supports\
            \ sending emails to your registered email address.\n- The sender's email\
            \ address is required while the sender's name is optional. For example,\
            \ both `ycloud@ycloud-mail.com` and `YCloud<ycloud@ycloud-mail.com>` work."
          example: YCloud<ycloud@ycloud-mail.com>
          type: string
        to:
          description: "- The intended recipients' email addresses.\n- Supports a\
            \ comma-separated list of one or more addresses. Max items: 100."
          example: "to1@example.com,Nick<to2@example.com>"
          type: string
        subject:
          description: "The email subject, which contains a short string identifying\
            \ the topic of the message. Max length: 255."
          maxLength: 255
          type: string
        content:
          description: "- The email body. Max size: 150 KB.\n- Variables in the form\
            \ of `#var_1#` are supported, they should be used together with the `variables`\
            \ parameter. Variable keys only support letters, digits, and the underline\
            \ character (`_`).\n- You can use the [Test Templates](https://help.ycloud.com/en/articles/6006545)\
            \ provided by YCloud for testing."
          example: "This is a test message from #nick#."
          type: string
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        variables:
          description: "- The variable key-value pairs that will replace the variable\
            \ placeholders in `content` for each recipient. Variable keys are those\
            \ that are wrapped with `#` as placeholders (e.g., `#var_1#`) in `content`.\
            \ The placeholders will be replaced by variable values when sending the\
            \ email.\n- The size of the array must be the same as the number of recipients\
            \ in `to`. Be aware that `cc` and `bcc` addresses are excluded, and they\
            \ can not receive emails that contain variables.\n- This parameter's size\
            \ will be calculated together with the parameter `content`. The whole\
            \ size must not exceed 150 KB."
          items:
            additionalProperties:
              type: string
            description: Variable key-value pair.
            type: object
          type: array
        cc:
          description: Recipients who will receive a copy of the email.
          example: "cc1@example.com,Nick<cc2@example.com>"
          type: string
        bcc:
          description: Recipients who will receive a blind carbon copy of the email.
          example: "bcc1@example.com,Nick<bcc2@example.com>"
          type: string
        replyTo:
          description: "If this field exists, then the reply should go to the addresses\
            \ indicated in that field and not to the address(es) indicated in the\
            \ `from` field."
          type: string
        summary:
          description: "This is a summary of your email. Max length: 70."
          example: This is a summary.
          maxLength: 70
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-email
          type: string
      required:
      - content
      - from
      - subject
      - to
      type: object
    Error:
      properties:
        status:
          description: "HTTP status code, [RFC 7231, Section 6](https://datatracker.ietf.org/doc/html/rfc7231#section-6).\
            \ It conveys the HTTP status code used for the convenience of the consumer."
          example: 404
          format: int32
          pattern: "[45]\\d{2}"
          type: integer
        code:
          description: One of a server-defined error codes. Some `4xx` errors that
            could be handled programmatically include an error code that briefly explains
            the error reported.
          example: NOT_FOUND
          type: string
        message:
          description: A human-readable representation of the error. It is intended
            as an aid to developers and is not suitable for exposure to end users.
          example: The requested resource does not exist.
          type: string
        target:
          description: The target of the error.
          example: ""
          type: string
        docUrl:
          description: A URL to more information about the error.
          example: ""
          type: string
      required:
      - code
      - status
      type: object
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      type: object
    Event:
      description: "Represents a webhook event payload.\nEvery event contains certain\
        \ common properties: `id`, `type`, `apiVersion`, `createTime`.\nEach event\
        \ may also contain some properties unique to the event. For example, `sms`\
        \ is returned when `type` is `sms.message.updated`."
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        type:
          $ref: '#/components/schemas/EventType'
        apiVersion:
          description: The API version used to render this event.
          example: v2
          type: string
        createTime:
          description: "The time at which this event was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        emailDelivery:
          $ref: '#/components/schemas/EmailDelivery'
        sms:
          $ref: '#/components/schemas/Sms'
        voice:
          $ref: '#/components/schemas/Voice'
        whatsappBusinessAccount:
          $ref: '#/components/schemas/WhatsappBusinessAccount'
        whatsappInboundMessage:
          $ref: '#/components/schemas/WhatsappInboundMessage'
        whatsappMessage:
          $ref: '#/components/schemas/WhatsappMessage'
        whatsappPhoneNumber:
          $ref: '#/components/schemas/WhatsappPhoneNumber'
        whatsappTemplate:
          $ref: '#/components/schemas/WhatsappTemplate'
      required:
      - apiVersion
      - createTime
      - id
      - type
      type: object
    EventType:
      description: Type of webhook events.
      enum:
      - email.delivery.updated
      - sms.message.updated
      - voice.message.updated
      - whatsapp.business_account.reviewed
      - whatsapp.business_account.updated
      - whatsapp.inbound_message.received
      - whatsapp.message.updated
      - whatsapp.phone_number.name_updated
      - whatsapp.phone_number.quality_updated
      - whatsapp.template.reviewed
      type: string
      x-enum-descriptions:
      - "Occurs when an email delivery status is updated, and the status changes to\
        \ `delivered` or `failed`."
      - "Occurs when an SMS message status is updated, and the status changes to `delivered`\
        \ or `undelivered`."
      - "Occurs when a voice message status is updated, and the status changes to\
        \ `delivered` or `undelivered`."
      - Occurs when a WhatsApp Business Account has been reviewed.
      - "Occurs when a policy violation happened, WhatsApp Business Account has been\
        \ banned and more."
      - Occurs when a WhatsApp inbound message is received.
      - "Occurs when a WhatsApp outbound message status is updated, and the status\
        \ changes to `sent`, `failed`, `delivered`, or `read`."
      - Occurs when a WhatsApp business account phone number's name has been approved
        or rejected.
      - "Occurs when a WhatsApp business account phone number's quality-related status\
        \ is updated, and the status changes to `GREEN`, `YELLOW`, or `RED`."
      - "Occurs when a WhatsApp template status is updated, and the status changes\
        \ to REJECTED, APPROVED, PAUSED, DISABLED, or IN_APPEAL."
    Mailbox:
      description: Represents a mailbox.
      example:
        address: team@example.com
        name: YCloud Team
      properties:
        name:
          description: Name of the mailbox.
          example: YCloud Team
          type: string
        address:
          description: Address of the mailbox.
          example: team@example.com
          type: string
      type: object
    MetaBusinessAccountVerificationStatus:
      description: Current status of business verification of Meta Business Account
        which owns this WhatsApp Business Account.
      enum:
      - expired
      - failed
      - ineligible
      - not_verified
      - pending
      - pending_need_more_info
      - pending_submission
      - rejected
      - revoked
      - verified
      type: string
    Page:
      description: Represents a given page of items.
      properties:
        offset:
          description: "The position of the item this page starts from, zero-based.\
            \ e.g., the 11th item is at offset 10."
          format: int32
          minimum: 0
          type: integer
        limit:
          description: "A limit on the number of items to be returned, between 1 and\
            \ 100, defaults to 10."
          format: int32
          minimum: 1
          type: integer
        length:
          description: The actual number of items in the page.
          format: int32
          minimum: 0
          type: integer
        total:
          description: The total number of items. This field is returned only when
            the request parameter `includeTotal` is set to `true`.
          format: int32
          minimum: 0
          type: integer
        items:
          items:
            type: object
          type: array
      required:
      - length
      - limit
      - offset
      type: object
    Sms:
      example:
        totalPrice: 0.0085
        totalSegments: 1
        errorCode: errorCode
        externalId: externalId
        updateTime: 2022-03-01T12:00:00Z
        senderId: YCloud
        regionCode: GB
        createTime: 2022-03-01T12:00:00Z
        currency: USD
        callbackUrl: https://httpbin.org/anything?tag=api-sms
        id: id
        to: +447901614024
        text: Your verification code is 123456.
        status: sent
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        text:
          description: The text of this message.
          example: Your verification code is 123456.
          type: string
        senderId:
          description: Sender ID to be used.
          example: YCloud
          type: string
        regionCode:
          description: "[ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
          example: GB
          type: string
        totalSegments:
          description: "Number of message segments. See [SMS character encoding](https://help.ycloud.com/en/articles/3083427-sms-character-encoding)\
            \ for more info."
          example: 1
          format: int32
          minimum: 1
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        status:
          description: "Delivery status. One of `accepted`, `sent`, `delivered`, `undelivered`."
          enum:
          - accepted
          - sent
          - delivered
          - undelivered
          example: sent
          type: string
        errorCode:
          description: Error code when the message is undeliverable.
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which the delivery report for this message was\
            \ updated, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-sms
          type: string
      required:
      - id
      - to
      type: object
    SmsPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of SMS messages.
      example:
        items:
        - totalPrice: 0.0085
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          updateTime: 2022-03-01T12:00:00Z
          senderId: YCloud
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-sms
          id: id
          to: +447901614024
          text: Your verification code is 123456.
          status: sent
        - totalPrice: 0.0085
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          updateTime: 2022-03-01T12:00:00Z
          senderId: YCloud
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-sms
          id: id
          to: +447901614024
          text: Your verification code is 123456.
          status: sent
      properties:
        items:
          description: An array containing SMS objects.
          items:
            $ref: '#/components/schemas/Sms'
          type: array
      type: object
    Verification:
      example:
        totalPrice: 0.0085
        channel: sms
        currency: USD
        id: ve6j7n8i
        to: +447901614024
        status: null
        sendTime: 2022-06-01T12:00:00Z
      properties:
        id:
          description: ID of the verification.
          example: ve6j7n8i
          type: string
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          description: Recipient of the verification.
          example: +447901614024
          type: string
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        sendTime:
          description: "The time at which this verification was sent, formatted in\
            \ [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        totalPrice:
          description: Total price of this verification.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - id
      type: object
    VerificationChannel:
      description: "Supports several independent channels for verification:\n`sms`:\
        \ Sends an SMS message with a verification code.\n`voice`: Makes a voice call\
        \ with a verification code.\n`email_code`: Sends an email with a verification\
        \ code.\n`whatsapp`: Sends a WhatsApp message with a verification code."
      enum:
      - sms
      - voice
      - email_code
      - whatsapp
      example: sms
      type: string
    VerificationCheck:
      example:
        valid: false
        channel: sms
        id: vc8f92c20
        to: +447901614024
        status: null
      properties:
        id:
          description: ID of this object.
          example: vc8f92c20
          type: string
        valid:
          description: Whether the verification code is valid for this check.
          example: false
          type: boolean
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format or email address."
          example: +447901614024
          type: string
        channel:
          $ref: '#/components/schemas/VerificationChannel'
      required:
      - id
      - valid
      type: object
    VerificationCheckRequest:
      example:
        code: "123456"
        to: +447901614024
        verificationId: vid
      properties:
        verificationId:
          description: ID of the verification to be checked. One of `verificationId`
            or `to` is required.
          example: vid
          type: string
        to:
          description: The recipient's phone number or email address. One of `verificationId`
            or `to` is required.
          example: +447901614024
          type: string
        code:
          description: The verification to be checked.
          example: "123456"
          type: string
      type: object
    VerificationSendRequest:
      example:
        senderId: YCloud
        code: "123456"
        signature: YCloud
        channel: sms
        language: en
        to: +447901614024
      properties:
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        to:
          description: "The recipient's phone number or email address depending on\
            \ `channel`.\n- Phone number: In [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format. Applicable when `channel` is `sms` or `voice`.\n- Email address:\
            \ For example, `tom@example.com`. Applicable when `channel` is `email_code`."
          example: +447901614024
          type: string
        code:
          description: "Verification code to be sent. This field is optional. If not\
            \ provided, YCloud will automatically generate a code."
          example: "123456"
          maxLength: 8
          minLength: 4
          type: string
        senderId:
          description: "[Sender ID](https://help.ycloud.com/en/articles/3080386) to\
            \ be used."
          example: YCloud
          type: string
        signature:
          description: "This parameter is only required for Chinese mainland SMS messages.\
            \ You must specify an approved signature such as `YCloud`. It will be\
            \ added to the beginning of SMS body and wrapped with `【】`, e.g. `【YCloud】\
            Your verification code is 123456`."
          example: YCloud
          type: string
        language:
          description: "[ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html).\
            \ If not specified, language will be set as `en` by default. Notably,\
            \ in certain countries or regions, language will be automatically set\
            \ as the local language due to the regional restrictions.\nApplicable\
            \ languages:\n`ar`: Arabic\n`de`: German\n`en`: English\n`es`: Spanish\n\
            `fr`: French\n`id`: Indonesian\n`it`: Italian\n`pt_BR`: Portuguese. Not\
            \ applicable when `channel` is `whatsapp`.\n`ru`: Russian\n`tr`: Turkish\n\
            `vi`: Vietnamese\n`zh_CN`: Simplified Chinese\n`zh_HK`: Traditional Chinese"
          example: en
          type: string
      required:
      - channel
      - to
      type: object
    VerificationStatus:
      description: "Status of verification, one of `pending`, `approved`, `blocked`,\
        \ `expired`, `undelivered`.\n`pending`: The verification message (SMS, Voice,\
        \ etc.) is sent, waiting to be checked. This happens when you call the 'Start\
        \ a verification' API successfully.\n`approved`: The verification has been\
        \ successfully checked. A `pending` verification status changes to `approved`\
        \ when you call the 'Check a verification' API and receive a response with\
        \ the `valid` parameter is `true`. An approved verification cannot be checked\
        \ anymore.\n`blocked`: The verification is blocked by user-defined rules such\
        \ as denylist, and geographical permission restrictions. A blocked verification\
        \ cannot be checked.\n`expired`: The verification has expired and cannot be\
        \ checked anymore. The expiration can be customized in [Verify Settings](https://www.ycloud.com/console/#/app/verify/setting).\n\
        `undelivered`: YCloud has received a delivery receipt indicating that the\
        \ verification message was not delivered. An undelivered verification cannot\
        \ be checked anymore."
      enum:
      - pending
      - approved
      - blocked
      - expired
      - undelivered
      type: string
    SmsSendRequest:
      example:
        senderId: YCloud
        signature: YCloud
        externalId: externalId
        callbackUrl: https://httpbin.org/anything?tag=api-sms
        to: +447901614024
        text: Your verification code is 123456.
      properties:
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        text:
          description: The text of this message.
          example: Your verification code is 123456.
          type: string
        senderId:
          description: "[Sender ID](https://help.ycloud.com/en/articles/3080386) to\
            \ be used."
          example: YCloud
          type: string
        signature:
          description: "This parameter is only required for Chinese mainland SMS messages.\
            \ You must specify an approved signature such as `YCloud`. It will be\
            \ added to the beginning of SMS body and wrapped with `【】`, e.g. `【YCloud】\
            Your verification code is 123456`."
          example: YCloud
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-sms
          type: string
      required:
      - text
      - to
      type: object
    Voice:
      example:
        totalPrice: 0.05
        totalSegments: 1
        errorCode: errorCode
        externalId: externalId
        language: en
        updateTime: 2022-03-01T12:00:00Z
        verificationCode: "123456"
        regionCode: GB
        createTime: 2022-03-01T12:00:00Z
        currency: USD
        callbackUrl: https://httpbin.org/anything?tag=api-voice
        id: id
        to: +447901614024
        status: sent
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        verificationCode:
          description: "The verification code to be sent, 4 to 6 digits."
          example: "123456"
          type: string
        language:
          description: "[ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html)."
          example: en
          type: string
        regionCode:
          description: "[ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: GB
          type: string
        totalSegments:
          description: Number of message segments. It's always 1 for voice calls.
          example: 1
          format: int32
          minimum: 1
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.05
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        status:
          description: "Delivery status. One of `accepted`, `sent`, `delivered`, `undelivered`."
          enum:
          - accepted
          - sent
          - delivered
          - undelivered
          example: sent
          type: string
        errorCode:
          description: Error code when the message is undeliverable.
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which the delivery report for this message was\
            \ updated, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-voice
          type: string
      required:
      - id
      - to
      type: object
    VoicePage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of Voice Calls.
      example:
        items:
        - totalPrice: 0.05
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          language: en
          updateTime: 2022-03-01T12:00:00Z
          verificationCode: "123456"
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-voice
          id: id
          to: +447901614024
          status: sent
        - totalPrice: 0.05
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          language: en
          updateTime: 2022-03-01T12:00:00Z
          verificationCode: "123456"
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-voice
          id: id
          to: +447901614024
          status: sent
      properties:
        items:
          description: An array containing Voice objects.
          items:
            $ref: '#/components/schemas/Voice'
          type: array
      type: object
    VoiceSendRequest:
      example:
        externalId: externalId
        language: en
        callbackUrl: https://httpbin.org/anything?tag=api-voice
        to: +447901614024
        verificationCode: "123456"
      properties:
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        verificationCode:
          description: "The verification code to be sent, 4 to 6 digits."
          example: "123456"
          type: string
        language:
          description: "[ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html).\
            \ If not specified, language will be set as `en` by default. Notably,\
            \ in certain countries or regions, language will be automatically set\
            \ as the local language due to the regional restrictions.\nApplicable\
            \ languages:\n`ar`: Arabic\n`de`: German\n`en`: English\n`es`: Spanish\n\
            `fr`: French\n`id`: Indonesian\n`it`: Italian\n`pt`: Portuguese\n`ru`:\
            \ Russian\n`tr`: Turkish\n`vi`: Vietnamese\n`zh`: Chinese"
          example: en
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-voice
          type: string
      required:
      - to
      - verificationCode
      type: object
    WebhookEndpoint:
      example:
        createTime: 2022-06-01T12:00:00Z
        enabledEvents:
        - email.delivery.updated
        - sms.message.updated
        - voice.message.updated
        description: My first webhook endpoint.
        updateTime: 2022-06-01T12:00:00Z
        id: wh627c8640675de8fc689ab9d9
        secret: whsec_abc4147651944f02baf3be1eb45d33f1
        url: https://httpbin.org/anything?tag=api
        status: null
      properties:
        id:
          description: Unique ID for the object.
          example: wh627c8640675de8fc689ab9d9
          type: string
        url:
          description: The URL of the webhook endpoint.
          example: https://httpbin.org/anything?tag=api
          type: string
        enabledEvents:
          description: The list of events to enable for this endpoint.
          example:
          - email.delivery.updated
          - sms.message.updated
          - voice.message.updated
          items:
            type: string
          type: array
        description:
          description: An optional description of what the webhook is used for.
          example: My first webhook endpoint.
          type: string
        status:
          $ref: '#/components/schemas/WebhookEndpointStatus'
        secret:
          description: "The endpoint's secret, used to generate webhook signatures."
          example: whsec_abc4147651944f02baf3be1eb45d33f1
          type: string
        createTime:
          description: "The time at which this object was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which this object was updated, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
      required:
      - id
      type: object
    WebhookEndpointCreateRequest:
      example:
        enabledEvents:
        - null
        - null
        description: My first webhook endpoint.
        url: https://httpbin.org/anything?tag=api
        status: null
      properties:
        url:
          description: The URL of the webhook endpoint.
          example: https://httpbin.org/anything?tag=api
          maxLength: 500
          type: string
        enabledEvents:
          description: The list of events to enable for this endpoint.
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        description:
          description: An optional description of what the webhook is used for.
          example: My first webhook endpoint.
          maxLength: 400
          type: string
        status:
          $ref: '#/components/schemas/WebhookEndpointStatus'
      required:
      - enabledEvents
      - url
      type: object
    WebhookEndpointPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of webhook endpoints.
      example:
        items:
        - createTime: 2022-06-01T12:00:00Z
          enabledEvents:
          - email.delivery.updated
          - sms.message.updated
          - voice.message.updated
          description: My first webhook endpoint.
          updateTime: 2022-06-01T12:00:00Z
          id: wh627c8640675de8fc689ab9d9
          secret: whsec_abc4147651944f02baf3be1eb45d33f1
          url: https://httpbin.org/anything?tag=api
          status: null
        - createTime: 2022-06-01T12:00:00Z
          enabledEvents:
          - email.delivery.updated
          - sms.message.updated
          - voice.message.updated
          description: My first webhook endpoint.
          updateTime: 2022-06-01T12:00:00Z
          id: wh627c8640675de8fc689ab9d9
          secret: whsec_abc4147651944f02baf3be1eb45d33f1
          url: https://httpbin.org/anything?tag=api
          status: null
      properties:
        items:
          description: An array containing webhook endpoint objects.
          items:
            $ref: '#/components/schemas/WebhookEndpoint'
          type: array
      type: object
    WebhookEndpointStatus:
      description: Webhook endpoint status.
      enum:
      - active
      - disabled
      type: string
    WebhookEndpointUpdateRequest:
      example:
        enabledEvents:
        - null
        - null
        description: My first webhook endpoint.
        url: https://httpbin.org/anything?tag=api
        status: null
      properties:
        url:
          description: The URL of the webhook endpoint.
          example: https://httpbin.org/anything?tag=api
          maxLength: 500
          type: string
        enabledEvents:
          description: The list of events to enable for this endpoint.
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        description:
          description: An optional description of what the webhook is used for.
          example: My first webhook endpoint.
          maxLength: 400
          type: string
        status:
          $ref: '#/components/schemas/WebhookEndpointStatus'
      type: object
    WhatsappBusinessAccount:
      description: "Represents a specific [WhatsApp Business Account (WABA)](https://www.facebook.com/business/help/1499554293524119)."
      example:
        ownershipType: ownershipType
        country: country
        primaryFundingId: primaryFundingId
        decision: null
        businessVerificationStatus: null
        restrictions:
        - restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
          expiration: 2022-06-01T12:00:00Z
        - restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
          expiration: 2022-06-01T12:00:00Z
        banDate: "December 9, 2022"
        messageTemplateNamespace: messageTemplateNamespace
        banState: null
        accountReviewStatus: null
        violationType: SCAM
        updateEvent: null
        purchaseOrderNumber: purchaseOrderNumber
        name: name
        timezoneId: timezoneId
        currency: currency
        id: id
      properties:
        id:
          description: ID of the WhatApp Business Account.
          type: string
        name:
          description: User-friendly name to differentiate WhatsApp Business Accounts.
          type: string
        currency:
          description: The currency in which the payment transactions for the WhatsApp
            Business Account will be processed.
          type: string
        messageTemplateNamespace:
          description: Namespace string for the message templates that belong to the
            WhatsApp Business Account.
          type: string
        accountReviewStatus:
          $ref: '#/components/schemas/WhatsappBusinessAccountReviewStatus'
        businessVerificationStatus:
          $ref: '#/components/schemas/MetaBusinessAccountVerificationStatus'
        country:
          description: Country of the WhatsApp Business Account's owning Meta Business
            account.
          type: string
        ownershipType:
          description: Ownership type of the WhatsApp Business Account.
          type: string
        primaryFundingId:
          description: Primary funding ID for the WhatsApp Business Account paid service.
          type: string
        purchaseOrderNumber:
          description: The purchase order number supplied by the business for payment
            management purposes.
          type: string
        timezoneId:
          description: The timezone of the WhatsApp Business Account.
          type: string
        decision:
          $ref: '#/components/schemas/WhatsappReviewDecision'
        updateEvent:
          $ref: '#/components/schemas/WhatsappBusinessAccountUpdateEventEnum'
        banState:
          $ref: '#/components/schemas/WhatsappBusinessAccountBanState'
        banDate:
          description: The date when the WABA is banned.
          example: "December 9, 2022"
          type: string
        violationType:
          description: "Used to report violations imposed on the WABA. See also [WhatsApp\
            \ Business Platform Policy Violations](https://developers.facebook.com/docs/whatsapp/overview/policy-enforcement/violations)."
          example: SCAM
          type: string
        restrictions:
          description: "Used to report restrictions imposed on the WABA, when that\
            \ WABA violates [WhatsApp Business Platform policies](https://developers.facebook.com/docs/whatsapp/overview/policy-enforcement)."
          items:
            $ref: '#/components/schemas/WhatsappBusinessAccountRestrictionInfo'
          type: array
      type: object
    WhatsappBusinessAccountBanState:
      description: The ban state of the WhatsApp Business Account.
      enum:
      - SCHEDULE_FOR_DISABLE
      - DISABLE
      - REINSTATE
      type: string
    WhatsappBusinessAccountRestrictionInfo:
      description: "Used to report restrictions imposed on a specific WABA, when that\
        \ WABA violates [WhatsApp Business Platform policies](https://developers.facebook.com/docs/whatsapp/overview/policy-enforcement)."
      example:
        restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
        expiration: 2022-06-01T12:00:00Z
      properties:
        restrictionType:
          description: Restriction type.
          enum:
          - RESTRICTED_ADD_PHONE_NUMBER_ACTION
          - RESTRICTED_BIZ_INITIATED_MESSAGING
          - RESTRICTED_CUSTOMER_INITIATED_MESSAGING
          type: string
        expiration:
          description: "The time at which this restriction expires, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
      type: object
    WhatsappBusinessAccountReviewStatus:
      description: WhatsApp Business Account review status.
      enum:
      - PENDING
      - APPROVED
      - REJECTED
      type: string
    WhatsappBusinessAccountUpdateEventEnum:
      description: "Indicates the update event type of the WABA when a notification\
        \ is sent to you to report a [policy violation](https://developers.facebook.com/docs/whatsapp/overview/policy-enforcement),\
        \ a WABA has been banned and more."
      enum:
      - DISABLED_UPDATE
      - VERIFIED_ACCOUNT
      - ACCOUNT_RESTRICTION
      - ACCOUNT_VIOLATION
      - ACCOUNT_DELETED
      type: string
      x-enum-descriptions:
      - WhatsApp Business Account Banned.
      - Sandbox Number Upgraded to Verified Account.
      - WhatsApp Business Account Restricted Due To Policy Violations.
      - WhatsApp Business Account Violates Policy.
      - WhatsApp Business Account Deleted.
    WhatsappConversation:
      description: "WhatsApp defines a conversation as a 24-hour session of messaging\
        \ between a person and a business. See also [Using the Platform](https://developers.facebook.com/docs/whatsapp/conversation-types#using-the-platform)."
      example:
        originType: null
        expireTime: 2022-06-01T12:00:00Z
        id: id
      properties:
        id:
          description: Unique ID for the object.
          type: string
        originType:
          $ref: '#/components/schemas/WhatsappConversationOriginType'
        expireTime:
          description: "Date when the conversation expires, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
      type: object
    WhatsappConversationOriginType:
      description: "Indicates who initiated the conversation.\n`business_initiated`:\
        \ Indicates that the conversation started by a business sending the first\
        \ message to a customer. This applies any time it has been more than 24 hours\
        \ since the last customer message.\n`user_initiated`: Indicates that the conversation\
        \ started by a business replying to a customer message. This applies only\
        \ when the business reply is within 24 hours of the last customer message.\n\
        `referral_conversion`: Indicates that the conversation originated from a free\
        \ entry point. These conversations are always customer-initiated."
      enum:
      - business_initiated
      - user_initiated
      - referral_conversion
      type: string
      x-enum-descriptions:
      - Indicates that the conversation started by a business sending the first message
        to a customer. This applies any time it has been more than 24 hours since
        the last customer message.
      - Indicates that the conversation started by a business replying to a customer
        message. This applies only when the business reply is within 24 hours of the
        last customer message.
      - Indicates that the conversation originated from a free entry point. These
        conversations are always customer-initiated.
    WhatsappInboundMessage:
      description: WhatsApp inbound message object.
      properties:
        id:
          description: Unique ID for the object.
          type: string
        wamid:
          description: The native WhatsApp message ID.
          example: wamid.BgNODYxN...
          type: string
        wabaId:
          description: WhatsApp Business Account ID.
          example: whatsapp-business-account-id
          type: string
        from:
          description: "The customer's phone number who sent the message to the business,\
            \ formatted in [E.164](https://en.wikipedia.org/wiki/E.164) format."
          example: +447901614024
          type: string
        customerProfile:
          $ref: '#/components/schemas/WhatsappProfile'
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        sendTime:
          description: "The time at which this message is sent, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        type:
          $ref: '#/components/schemas/WhatsappInboundMessageType'
        text:
          $ref: '#/components/schemas/WhatsappInboundMessageText'
        image:
          $ref: '#/components/schemas/WhatsappInboundMessageMedia'
        video:
          $ref: '#/components/schemas/WhatsappInboundMessageMedia'
        audio:
          $ref: '#/components/schemas/WhatsappInboundMessageMedia'
        document:
          $ref: '#/components/schemas/WhatsappInboundMessageMedia'
        sticker:
          $ref: '#/components/schemas/WhatsappInboundMessageMedia'
        interactive:
          $ref: '#/components/schemas/WhatsappInboundMessageInteractive'
        location:
          $ref: '#/components/schemas/WhatsappInboundMessageLocation'
        button:
          $ref: '#/components/schemas/WhatsappInboundMessageButton'
        contacts:
          items:
            $ref: '#/components/schemas/WhatsappMessageContact'
          type: array
        reaction:
          $ref: '#/components/schemas/WhatsappInboundMessageReaction'
        order:
          $ref: '#/components/schemas/WhatsappInboundMessageOrder'
        system:
          $ref: '#/components/schemas/WhatsappInboundMessageSystem'
        errors:
          items:
            $ref: '#/components/schemas/WhatsappInboundMessageError'
          type: array
        context:
          $ref: '#/components/schemas/WhatsappInboundMessageContext'
        referral:
          $ref: '#/components/schemas/WhatsappInboundMessageReferral'
      required:
      - id
      type: object
    WhatsappInboundMessageButton:
      description: "When the message type field is set to `button`, this object is\
        \ included in the message object."
      properties:
        payload:
          description: The payload for a button set up by the business that a customer
            clicked as part of an interactive message.
          type: string
        text:
          description: Button text.
          type: string
      type: object
    WhatsappInboundMessageContext:
      description: Message context.
      properties:
        forwarded:
          description: |-
            **Added to Webhooks if message was forwarded.**

            Set to `true` if the received message has been forwarded.
          type: boolean
        frequently_forwarded:
          description: |-
            **Added to Webhooks if message has been frequently forwarded.**

            Set to `true` if the received message has been forwarded more than five times.
          type: boolean
        from:
          description: |-
            **Added to Webhooks if message is an inbound reply to a sent message.**

            The WhatsApp ID (a phone number without the '+' prefix) of the sender of the sent message.
          type: string
        id:
          description: |-
            **Optional.**

            The `wamid` for the sent message for an inbound reply.
          example: wamid.BgNODYxN...
          type: string
        referred_product:
          $ref: '#/components/schemas/WhatsappInboundMessageReferredProduct'
      type: object
    WhatsappInboundMessageError:
      description: "When the message type field is set to `unknown` or `unsupported`,\
        \ this object is included."
      properties:
        code:
          description: The error code.
          example: "131051"
          type: string
        title:
          description: The error title.
          example: Unsupported message type
          type: string
      type: object
    WhatsappInboundMessageInteractive:
      description: "When a customer has interacted with your message, this object\
        \ is included in the message object.\nSee also [WhatsApp webhook messages\
        \ object](https://developers.facebook.com/docs/whatsapp/cloud-api/webhooks/components#messages-object),\
        \ and [payload examples](https://developers.facebook.com/docs/whatsapp/cloud-api/webhooks/payload-examples#webhook-notification-payload-examples)."
      properties:
        type:
          description: "The type of interactive message received.\n- `button_reply`:\
            \ Sent when a customer clicks a button.\n- `list_reply`: Sent when a customer\
            \ selects an item from a list."
          enum:
          - button_reply
          - list_reply
          type: string
          x-enum-descriptions:
          - Sent when a customer clicks a button.
          - Sent when a customer selects an item from a list.
        button_reply:
          $ref: '#/components/schemas/WhatsappInboundMessageInteractive_button_reply'
        list_reply:
          $ref: '#/components/schemas/WhatsappInboundMessageInteractive_list_reply'
      type: object
    WhatsappInboundMessageLocation:
      description: "When you receive a notification of a user's static location, the\
        \ location object provides the details of the location."
      properties:
        latitude:
          description: Latitude of location being sent.
          format: double
          type: number
        longitude:
          description: Longitude of location being sent.
          format: double
          type: number
        address:
          description: Address of the location.
          type: string
        name:
          description: Name of the location.
          type: string
        url:
          description: URL for the website where the user downloaded the location
            information.
          type: string
      type: object
    WhatsappInboundMessageMedia:
      description: "When a message with media (`image` | `document` | `audio` | `video`\
        \ | `sticker`) is received, the WhatsApp Business API client will download\
        \ the media. Once the media is downloaded, a notification is sent to your\
        \ Webhook. This message contains information that identifies the media object\
        \ and enables you to find and download the object."
      properties:
        id:
          description: ID of the media. Can be used to delete the media if stored
            locally on the client.
          type: string
        link:
          description: "The url to download the media file.\nNote that This link can\
            \ be directly accessed in a few minutes for the convenience of the consumer,\
            \ but you should always include an `X-API-Key` header to download this\
            \ file within a month."
          type: string
        caption:
          description: The provided caption for the media. Only present if specified.
          type: string
        filename:
          description: Filename on the sender's device. This will only be present
            in `document` media messages.
          type: string
        metadata:
          additionalProperties:
            type: object
          description: Metadata pertaining to `sticker` media.
          type: object
        mime_type:
          description: Mime type of the media.
          type: string
        sha256:
          description: Checksum.
          type: string
      type: object
    WhatsappInboundMessageOrder:
      description: "When a customer places an order, the message type is set to `order`,\
        \ and this field is included."
      properties:
        catalog_id:
          description: The catalog ID.
          example: the-catalog_id
          type: string
        product_items:
          items:
            $ref: '#/components/schemas/WhatsappInboundMessageOrderProductItem'
          type: array
        text:
          description: Text message sent along with the order.
          type: string
      type: object
    WhatsappInboundMessageOrderProductItem:
      properties:
        product_retailer_id:
          description: The product SKU identifier.
          type: string
        quantity:
          description: Number of item.
          format: int32
          type: integer
        item_price:
          description: Unitary price of item.
          type: string
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      type: object
    WhatsappInboundMessageReaction:
      description: "When a user reacts to messages with an emoji, the message type\
        \ is set to `reaction`, and this field is included."
      properties:
        message_id:
          description: Specifies the `wamid` of the message received that contained
            the reaction.
          example: wamid.BgNODYxN...
          type: string
        emoji:
          description: "This field is included when a user reacts to messages with\
            \ an emoji. Otherwise, it indicates a user removed the emoji."
          type: string
      type: object
    WhatsappInboundMessageReferral:
      description: "When a user messages businesses using call-to-actions buttons\
        \ on [Ads that Click to WhatsApp](https://www.facebook.com/business/help/447934475640650)\
        \ or a [Facebook Page call-to-action buttons](https://www.facebook.com/help/977869848936797),\
        \ this field is included as an attachment."
      properties:
        source_url:
          description: Specifies the URL that leads to the ad or post clicked by the
            user. Opening this URL takes you to the ad viewed by your user.
          type: string
        source_type:
          description: Specifies the type of the ad's source. Supported values are
            "ad" or "post".
          type: string
        source_id:
          description: Specifies the Meta ID for an ad or post.
          type: string
        headline:
          description: Specifies the headline used in the ad or post that generated
            the message.
          type: string
        body:
          description: "The description, or body, from the ad or post that generated\
            \ the message."
          type: string
        media_type:
          description: Media present in the ad or post the user clicked. Supported
            values are "image" or "video".
          type: string
        image_url:
          description: |-
            **Added if media_type is "image".**

            Contains a URL to the raw image.
          type: string
        video_url:
          description: |-
            **Added if media_type is "video".**

            Contains a URL to the video.
          type: string
        thumbnail_url:
          description: |-
            **Added if media_type is "video".**

            Contains a URL to the thumbnail image of the clicked video.
          type: string
      type: object
    WhatsappInboundMessageReferredProduct:
      description: "A Product Enquiry Message is received when a user is asking for\
        \ more information about a specific product.\nThese can be received as in\
        \ two scenarios:\n1. When a customer replies to Single or Multi-Product Messages.\n\
        2. When a customer accesses a business’ catalog through another entry point,\
        \ navigates to a Product Details Page, and clicks Message Business about this\
        \ Product."
      properties:
        catalog_id:
          description: The catalog ID.
          type: string
        product_retailer_id:
          description: The product SKU identifier.
          type: string
      type: object
    WhatsappInboundMessageSystem:
      description: "When the message type is set to `system`, this field is included.\n\
        This object is added to Webhooks if a user has changed their phone number\
        \ and if a user’s identity has potentially changed on WhatsApp."
      properties:
        body:
          description: "Describes the system message event. Supported use cases are:\n\
            - Phone number update: for when a user changes from an old number to a\
            \ new number.\n- Identity update: for when a user identity has changed."
          type: string
        new_wa_id:
          description: |-
            **Added to Webhooks for phone number updates.**

            New WhatsApp ID of the customer.
          type: string
        identity:
          description: |-
            **Added to Webhooks for identity updates.**

            New WhatsApp ID of the customer.
          type: string
        type:
          description: "Supported types are:\n- `user_changed_number`: for a user\
            \ changed number notification.\n- `user_identity_changed`: for user identity\
            \ changed notification."
          type: string
        user:
          description: |-
            **Added to Webhooks for identity updates.**

            The new WhatsApp user ID of the customer.
          type: string
      type: object
    WhatsappInboundMessageText:
      description: "When the notification describes a text message, the text object\
        \ provides the body of the text message."
      properties:
        body:
          description: Message text.
          type: string
      type: object
    WhatsappInboundMessageType:
      description: "WhatsApp inbound message type. See also [WhatsApp webhook messages\
        \ object](https://developers.facebook.com/docs/whatsapp/cloud-api/webhooks/components#messages-object)."
      enum:
      - text
      - image
      - video
      - audio
      - document
      - sticker
      - contacts
      - location
      - interactive
      - button
      - reaction
      - order
      - system
      - unsupported
      - unknown
      type: string
    WhatsappMessage:
      description: WhatsApp outbound message object.
      example:
[...]
