openapi: 3.0.0
info:
  contact:
    email: service@ycloud.com
  description: "The [YCloud](https://ycloud.com) API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\
    \ Our API is designed to have predictable, resource-oriented URLs, return [JSON](https://www.json.org)\
    \ responses, and use standard HTTP response codes and verbs."
  termsOfService: https://ycloud.com/terms-service
  title: YCloud API
  version: v2
externalDocs:
  description: YCloud Homepage
  url: https://ycloud.com
servers:
- description: YCloud API base URL
  url: https://api.ycloud.com/v2
security:
- api_key: []
tags:
- name: Balance
- name: Emails
- name: SMS
- name: Verify
- name: Voices
- name: Webhook Endpoints
- name: WhatsApp Business Accounts
- name: WhatsApp Messages
- name: WhatsApp Phone Numbers
- name: WhatsApp Templates
paths:
  /balance:
    get:
      description: Retrieves the current account balance.
      operationId: balance-retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: Successfully retrieved balance.
      summary: Retrieve balance
      tags:
      - Balance
      x-accepts: application/json
  /emails:
    post:
      description: Sends an outbound email message.
      operationId: email-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: The request is successfully accepted.
      summary: Send an email
      tags:
      - Emails
      x-content-type: application/json
      x-accepts: application/json
  /sms:
    get:
      description: Returns a paginated list of SMS messages you've previously sent.
      operationId: sms-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List SMS records
      tags:
      - SMS
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound text message.
      operationId: sms-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
        description: SMS request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sms'
          description: The request is successfully accepted.
      summary: Send an SMS
      tags:
      - SMS
      x-content-type: application/json
      x-accepts: application/json
  /verify/verifications:
    post:
      description: "Starts a verification by sending an SMS, voice, or email message\
        \ to the recipient.\nThis verification is charged once the message is sent\
        \ successfully."
      operationId: verification-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationSendRequest'
        description: Verification request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verification'
          description: The request is successfully accepted.
      summary: Start a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /verify/verificationChecks:
    post:
      description: "Checks a verification with a phone number, an email address, or\
        \ a verification ID.\nA `pending` verification status changes to `approved`\
        \ once you receive a response with the `valid` parameter is `true`. An approved\
        \ verification cannot be checked anymore."
      operationId: verification-check
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCheck'
          description: Successfully processed the verification check.
      summary: Check a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /voices:
    get:
      description: Returns a paginated list of voice calls you've previously sent.
      operationId: voice-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List voice records
      tags:
      - Voices
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound voice call verification code.
      operationId: voice-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSendRequest'
        description: Voice call request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
          description: The request is successfully accepted.
      summary: Send a voice code
      tags:
      - Voices
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints:
    get:
      description: Returns a paginated list of webhook endpoints.
      operationId: webhook_endpoint-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List webhook endpoints
      tags:
      - Webhook Endpoints
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a webhook endpoint listening for specific events.
      operationId: webhook_endpoint-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully created a webhook endpoint.
      summary: Create a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}:
    delete:
      description: Deletes a webhook endpoint.
      operationId: webhook_endpoint-delete
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully deleted the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    get:
      description: Retrieves the webhook endpoint with the given ID.
      operationId: webhook_endpoint-retrieve
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully retrieved the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    patch:
      description: "Updates a webhook endpoint, such as url, events, status."
      operationId: webhook_endpoint-update
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully updated the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}/rotateSecret:
    post:
      description: Generates a new secret for a webhook endpoint.
      operationId: webhook_endpoint-rotate-secret
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully rotated the webhook endpoint secret.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Rotate a webhook endpoint secret
      tags:
      - Webhook Endpoints
      x-accepts: application/json
  /whatsapp/businessAccounts:
    get:
      description: Returns a paginated list of WhatsApp business accounts you've registered
        on YCloud.
      operationId: whatsapp_business_account-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account review status.
        explode: true
        in: query
        name: filter.accountReviewStatus
        required: false
        schema:
          example: APPROVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccountPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WABAs
      tags:
      - WhatsApp Business Accounts
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/businessAccounts/{id}:
    get:
      description: Retrieves a WABA you've registered on YCloud.
      operationId: whatsapp_business_account-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccount'
          description: Successfully retrieved the WABA.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WABA
      tags:
      - WhatsApp Business Accounts
      x-accepts: application/json
  /whatsapp/messages/sendDirectly:
    post:
      description: "Sends an outbound WhatsApp message directly.\n\nYour message will\
        \ be submitted to Meta WhatsApp API directly. Typically used for sending OTP\
        \ and instant messages.\n\n**The Meta WhatsApp API supports up to 80 MPS (Messages\
        \ Per Second) by default and up to 1,000 MPS by request. Throughput is inclusive\
        \ of inbound and outbound messages and all message types.**\n\nThe response\
        \ body field `error.whatsappApiError` is included if we tried to request Meta\
        \ WhatsApp API and got an error response."
      operationId: whatsapp_message-send-directly
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Send a WhatsApp message directly
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages:
    post:
      description: |-
        Enqueues an outbound WhatsApp message for sending.

        You can enqueue messages at a rate of 200 MPS (Messages Per Second). These queued messages are submitted to the Meta WhatsApp API at a rate of 60 MPS per WhatsApp business phone number.
      operationId: whatsapp_message-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Enqueue a WhatsApp message
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages/{id}:
    get:
      description: Retrieves a WhatsApp message you've previously sent.
      operationId: whatsapp_message-retrieve
      parameters:
      - description: ID of the object.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp message
      tags:
      - WhatsApp Messages
      x-accepts: application/json
  /whatsapp/phoneNumbers:
    get:
      description: Returns a paginated list of WhatsApp business account phone numbers
        you've registered on YCloud.
      operationId: whatsapp_phone_number-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WhatsApp phone numbers
      tags:
      - WhatsApp Phone Numbers
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}:
    get:
      description: Retrieves a WhatsApp business account phone number you've registered
        on YCloud.
      operationId: whatsapp_phone_number-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp phone number
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/profile:
    get:
      description: Retrieves a WhatsApp business account phone number's profile. Customers
        can view your business profile by clicking your business's name or number
        in a conversation thread.
      operationId: whatsapp_phone_number-retrieve-profile
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp phone number profile
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
    patch:
      description: Updates a WhatsApp phone number profile.
      operationId: whatsapp_phone_number-update-profile
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberProfileUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
          description: Successfully updated the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a WhatsApp phone number profile
      tags:
      - WhatsApp Phone Numbers
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/templates:
    get:
      description: Returns a paginated list of WhatsApp templates you've previously
        created.
      operationId: whatsapp_template-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      - description: Name of the template.
        explode: true
        in: query
        name: filter.name
        required: false
        schema:
          example: sample_whatsapp_template
          maxLength: 512
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: form
      - description: Language of the template.
        explode: true
        in: query
        name: filter.language
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplatePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WhatsApp templates
      tags:
      - WhatsApp Templates
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a WhatsApp template.
      operationId: whatsapp_template-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully created a WhatsApp template.
      summary: Create a WhatsApp template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}:
    delete:
      description: "Deletes WhatsApp templates by name. If that template name exists\
        \ in multiple languages, all languages will be deleted.\nHTTP status `404`\
        \ is returned if no templates are found for the specific name."
      operationId: whatsapp_template-delete-by-name
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WhatsappTemplate'
                type: array
          description: Successfully deleted the template(s).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete WhatsApp templates by name
      tags:
      - WhatsApp Templates
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}/{language}:
    delete:
      description: Deletes a WhatsApp template by name and language.
      operationId: whatsapp_template-delete-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully deleted the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a WhatsApp template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    get:
      description: Retrieves a WhatsApp template by name and language.
      operationId: whatsapp_template-retrieve-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully retrieved the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WhatsApp template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    patch:
      description: "Edits a WhatsApp template by name and language.\nEditing a template\
        \ replaces its old contents entirely, so include any components you wish to\
        \ preserve as well as components you wish to update using the components parameter.\n\
        See also [Edit a Message Template](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates#edit-a-message-template)."
      operationId: whatsapp_template-edit-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully edited the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Edit a WhatsApp template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    filter_createTime_gte-default_1d:
      description: "Return results where the `createTime` field is greater than or\
        \ equal to this value. Default: One day ago from now."
      explode: true
      in: query
      name: filter.createTime.gte
      required: false
      schema:
        example: 2022-03-01T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_createTime_lte:
      description: Return results where the `createTime` field is less than or equal
        to this value.
      explode: true
      in: query
      name: filter.createTime.lte
      required: false
      schema:
        example: 2022-03-31T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_id:
      description: Unique object ID on our side. Other filter parameters will be ignored
        if this parameter is present.
      explode: true
      in: query
      name: filter.id
      required: false
      schema:
        type: string
      style: form
    filter_wabaId:
      description: WhatsApp Business Account ID.
      explode: true
      in: query
      name: filter.wabaId
      required: false
      schema:
        example: whatsapp-business-account-id
        type: string
      style: form
    filter_accountReviewStatus-WABA:
      description: WhatsApp Business Account review status.
      explode: true
      in: query
      name: filter.accountReviewStatus
      required: false
      schema:
        example: APPROVED
        type: string
      style: form
    id-in_path:
      description: ID of the object.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 627c8640675de8fc689ab9d9
        type: string
      style: simple
    id-in_path_for_webhook_endpoint:
      description: ID of the webhook endpoint.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: wh627c8640675de8fc689ab9d9
        type: string
      style: simple
    includeTotal:
      description: Return results inside an object that contains the total result
        count or not.
      explode: true
      in: query
      name: includeTotal
      required: false
      schema:
        default: false
        type: boolean
      style: form
    limit:
      description: "A limit on the number of results to be returned, or number of\
        \ results per page, between 1 and 100, defaults to 10."
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    page:
      description: "Page number of the results to be returned, 1-based."
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    wabaId-in_path:
      description: WhatsApp Business Account ID.
      explode: false
      in: path
      name: wabaId
      required: true
      schema:
        example: whatsapp-business-account-id
        type: string
      style: simple
  schemas:
    Balance:
      example:
        amount: 190.0765
        currency: USD
      properties:
        amount:
          description: Balance of current account.
          example: 190.0765
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - amount
      - currency
      type: object
    Email:
      example:
        cc:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        summary: This is a summary.
        totalRecipients: 3
        bcc:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        totalPrice: 0.0085
        subject: subject
        externalId: externalId
        createTime: 2022-06-01T12:00:00Z
        replyTo:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        from:
          address: team@example.com
          name: YCloud Team
        callbackUrl: https://httpbin.org/anything?tag=api-email
        currency: USD
        id: id
        to:
        - address: team@example.com
          name: YCloud Team
        - address: team@example.com
          name: YCloud Team
        contentType: null
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        from:
          $ref: '#/components/schemas/Mailbox'
        to:
          description: The intended recipients' email addresses.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        cc:
          description: Recipients who will receive a copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        bcc:
          description: Recipients who will receive a blind carbon copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        replyTo:
          description: "If this field exists, then the reply should go to the addresses\
            \ indicated in that field and not to the address(es) indicated in the\
            \ `from` field."
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        subject:
          description: "The email subject, which contains a short string identifying\
            \ the topic of the message."
          maxLength: 255
          type: string
        summary:
          description: "This is a summary of your email. Max length: 70."
          example: This is a summary.
          maxLength: 70
          type: string
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-email
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        totalRecipients:
          description: "Total recipients of this message, including `to`, `cc` and\
            \ `bcc`."
          example: 3
          format: int32
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - id
      type: object
    EmailContentType:
      description: The MIME type of the email content (`text/html` or `text/plain`).
        Be aware that We won't count click and open events for the type `text/plain`.
      enum:
      - text/html
      - text/plain
      type: string
      x-enum-varnames:
      - TEXT_HTML
      - TEXT_PLAIN
    EmailDelivery:
      description: Represents an email delivery report.
      properties:
        emailId:
          description: Unique ID for the related email you've previously sent.
          maxLength: 128
          minLength: 6
          type: string
        recipientAddress:
          description: A recipient's email address.
          example: tom@example.com
          type: string
        status:
          description: "Delivery status of the email to the specific recipient address.\n\
            - `sending`: The messaging request is accepted by our system.\n- `failed`:\
            \ The message failed to be sent from our system.\n- `sent`: The message\
            \ has been sent from YCloud.\n- `delivered`: YCloud has received a delivery\
            \ receipt indicating that message is delivered.\n- `undelivered`: YCloud\
            \ has received a delivery receipt indicating that message is not delivered."
          enum:
          - sending
          - failed
          - sent
          - delivered
          - undelivered
          example: failed
          type: string
        errorCode:
          description: Error code when the email is undeliverable.
          example: "402"
          type: string
        errorMessage:
          description: Error message when the email is undeliverable.
          example: Unsubscribes
          type: string
        externalId:
          description: The `externalId` you specified when you sent the email.
          type: string
        bizType:
          description: "This can be either empty or one of `email`, or `verify`. Defaults\
            \ to `email`.\n- `email`: Indicates that the message is sent via [Email](https://www.ycloud.com/email)\
            \ product.\n- `verify`: Indicates that the message is sent via [Verify](https://www.ycloud.com/verify)\
            \ product."
          example: verify
          type: string
        verificationId:
          description: The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
          type: string
      required:
      - emailId
      - recipientAddress
      type: object
    EmailSendRequest:
      example:
        cc: "cc1@example.com,Nick<cc2@example.com>"
        summary: This is a summary.
        variables:
        - key: variables
        - key: variables
        bcc: "bcc1@example.com,Nick<bcc2@example.com>"
        subject: subject
        replyTo: replyTo
        externalId: externalId
        from: YCloud<ycloud@ycloud-mail.com>
        callbackUrl: https://httpbin.org/anything?tag=api-email
        to: "to1@example.com,Nick<to2@example.com>"
        contentType: null
        content: "This is a test message from #nick#."
      properties:
        from:
          description: "- The sender's email. Its domain should be one that has been\
            \ registered and activated in your YCloud account.\n- The test address\
            \ provided by YCloud is `ycloud@ycloud-mail.com`, which only supports\
            \ sending emails to your registered email address.\n- The sender's email\
            \ address is required while the sender's name is optional. For example,\
            \ both `ycloud@ycloud-mail.com` and `YCloud<ycloud@ycloud-mail.com>` work."
          example: YCloud<ycloud@ycloud-mail.com>
          type: string
        to:
          description: "- The intended recipients' email addresses.\n- Supports a\
            \ comma-separated list of one or more addresses. Max items: 100."
          example: "to1@example.com,Nick<to2@example.com>"
          type: string
        subject:
          description: "The email subject, which contains a short string identifying\
            \ the topic of the message. Max length: 255."
          maxLength: 255
          type: string
        content:
          description: "- The email body. Max size: 150 KB.\n- Variables in the form\
            \ of `#var_1#` are supported, they should be used together with the `variables`\
            \ parameter. Variable keys only support letters, digits, and the underline\
            \ character (`_`).\n- You can use the [Test Templates](https://help.ycloud.com/en/articles/6006545)\
            \ provided by YCloud for testing."
          example: "This is a test message from #nick#."
          type: string
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        variables:
          description: "- The variable key-value pairs that will replace the variable\
            \ placeholders in `content` for each recipient. Variable keys are those\
            \ that are wrapped with `#` as placeholders (e.g., `#var_1#`) in `content`.\
            \ The placeholders will be replaced by variable values when sending the\
            \ email.\n- The size of the array must be the same as the number of recipients\
            \ in `to`. Be aware that `cc` and `bcc` addresses are excluded, and they\
            \ can not receive emails that contain variables.\n- This parameter's size\
            \ will be calculated together with the parameter `content`. The whole\
            \ size must not exceed 150 KB."
          items:
            additionalProperties:
              type: string
            description: Variable key-value pair.
            type: object
          type: array
        cc:
          description: Recipients who will receive a copy of the email.
          example: "cc1@example.com,Nick<cc2@example.com>"
          type: string
        bcc:
          description: Recipients who will receive a blind carbon copy of the email.
          example: "bcc1@example.com,Nick<bcc2@example.com>"
          type: string
        replyTo:
          description: "If this field exists, then the reply should go to the addresses\
            \ indicated in that field and not to the address(es) indicated in the\
            \ `from` field."
          type: string
        summary:
          description: "This is a summary of your email. Max length: 70."
          example: This is a summary.
          maxLength: 70
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-email
          type: string
      required:
      - content
      - from
      - subject
      - to
      type: object
    Error:
      properties:
        status:
          description: "HTTP status code, [RFC 7231, Section 6](https://datatracker.ietf.org/doc/html/rfc7231#section-6).\
            \ It conveys the HTTP status code used for the convenience of the consumer."
          example: 404
          format: int32
          pattern: "[45]\\d{2}"
          type: integer
        code:
          description: One of a server-defined error codes. Some `4xx` errors that
            could be handled programmatically include an error code that briefly explains
            the error reported.
          example: NOT_FOUND
          type: string
        message:
          description: A human-readable representation of the error. It is intended
            as an aid to developers and is not suitable for exposure to end users.
          example: The requested resource does not exist.
          type: string
        target:
          description: The target of the error.
          example: ""
          type: string
        docUrl:
          description: A URL to more information about the error.
          example: ""
          type: string
        requestId:
          description: Each API request has an associated request ID. It conveys the
            response header `YCloud-Request-ID` used for the convenience of the consumer.
          example: req_1KjtKI80IKoaJNa6n6p
          type: string
        whatsappApiError:
          $ref: '#/components/schemas/WhatsappApiError'
      required:
      - code
      - status
      type: object
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      type: object
    Event:
      description: "Represents a webhook event payload.\nEvery event contains certain\
        \ common properties: `id`, `type`, `apiVersion`, `createTime`.\nEach event\
        \ may also contain some properties unique to the event. For example, `sms`\
        \ is returned when `type` is `sms.message.updated`."
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        type:
          $ref: '#/components/schemas/EventType'
        apiVersion:
          description: The API version used to render this event.
          example: v2
          type: string
        createTime:
          description: "The time at which this event was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        emailDelivery:
          $ref: '#/components/schemas/EmailDelivery'
        sms:
          $ref: '#/components/schemas/Sms'
        smsInbound:
          $ref: '#/components/schemas/SmsInbound'
        voice:
          $ref: '#/components/schemas/Voice'
        whatsappBusinessAccount:
          $ref: '#/components/schemas/WhatsappBusinessAccount'
        whatsappInboundMessage:
          $ref: '#/components/schemas/WhatsappInboundMessage'
        whatsappMessage:
          $ref: '#/components/schemas/WhatsappMessage'
        whatsappPhoneNumber:
          $ref: '#/components/schemas/WhatsappPhoneNumber'
        whatsappTemplate:
          $ref: '#/components/schemas/WhatsappTemplate'
      required:
      - apiVersion
      - createTime
      - id
      - type
      type: object
    EventType:
      description: Type of webhook events.
      enum:
      - email.delivery.updated
      - sms.message.updated
      - sms.inbound.received
      - voice.message.updated
      - whatsapp.business_account.reviewed
      - whatsapp.business_account.updated
      - whatsapp.inbound_message.received
      - whatsapp.message.updated
      - whatsapp.phone_number.name_updated
      - whatsapp.phone_number.quality_updated
      - whatsapp.template.category_updated
      - whatsapp.template.reviewed
      type: string
      x-enum-descriptions:
      - "Occurs when an email delivery status is updated, and the status changes to\
        \ `delivered` or `failed`."
      - "Occurs when an SMS message status is updated, and the status changes to `delivered`\
        \ or `undelivered`."
      - "Occurs when an SMS inbound message is received, which means a user replies\
        \ to your message."
      - "Occurs when a voice message status is updated, and the status changes to\
        \ `delivered` or `undelivered`."
      - Occurs when a WhatsApp Business Account has been reviewed.
      - "Occurs when a policy violation happened, WhatsApp Business Account has been\
        \ banned and more."
      - Occurs when a WhatsApp inbound message is received.
      - "Occurs when a WhatsApp outbound message status is updated, and the status\
        \ changes to `sent`, `failed`, `delivered`, or `read`."
      - Occurs when a WhatsApp business account phone number's name has been approved
        or rejected.
      - "Occurs when a WhatsApp business account phone number's quality-related status\
        \ is updated, and the status changes to `GREEN`, `YELLOW`, or `RED`."
      - Occurs when a WhatsApp template category is updated.
      - "Occurs when a WhatsApp template status is updated, and the status changes\
        \ to REJECTED, APPROVED, PAUSED, DISABLED, or IN_APPEAL."
    Mailbox:
      description: Represents a mailbox.
      example:
        address: team@example.com
        name: YCloud Team
      properties:
        name:
          description: Name of the mailbox.
          example: YCloud Team
          type: string
        address:
          description: Address of the mailbox.
          example: team@example.com
          type: string
      type: object
    MetaBusinessAccountVerificationStatus:
      description: Current status of business verification of Meta Business Account
        which owns this WhatsApp Business Account.
      enum:
      - expired
      - failed
      - ineligible
      - not_verified
      - pending
      - pending_need_more_info
      - pending_submission
      - rejected
      - revoked
      - verified
      type: string
    Page:
      description: Represents a given page of items.
      properties:
        offset:
          description: "The position of the item this page starts from, zero-based.\
            \ e.g., the 11th item is at offset 10."
          format: int32
          minimum: 0
          type: integer
        limit:
          description: "A limit on the number of items to be returned, between 1 and\
            \ 100, defaults to 10."
          format: int32
          minimum: 1
          type: integer
        length:
          description: The actual number of items in the page.
          format: int32
          minimum: 0
          type: integer
        total:
          description: The total number of items. This field is returned only when
            the request parameter `includeTotal` is set to `true`.
          format: int32
          minimum: 0
          type: integer
        items:
          items:
            type: object
          type: array
      required:
      - length
      - limit
      - offset
      type: object
    Sms:
      example:
        bizType: verify
        totalPrice: 0.0085
        totalSegments: 1
        errorCode: errorCode
        externalId: externalId
        updateTime: 2022-03-01T12:00:00Z
        senderId: YCloud
        regionCode: GB
        createTime: 2022-03-01T12:00:00Z
        currency: USD
        callbackUrl: https://httpbin.org/anything?tag=api-sms
        id: id
        to: +447901614024
        text: Your verification code is 123456.
        verificationId: VERIFICATION-ID
        status: sent
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        text:
          description: The text of this message.
          example: Your verification code is 123456.
          type: string
        senderId:
          description: Sender ID to be used.
          example: YCloud
          type: string
        regionCode:
          description: "[ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
          example: GB
          type: string
        totalSegments:
          description: "Number of message segments. See [SMS character encoding](https://help.ycloud.com/en/articles/3083427-sms-character-encoding)\
            \ for more info."
          example: 1
          format: int32
          minimum: 1
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        status:
          description: "Delivery status. One of `accepted`, `sent`, `delivered`, `undelivered`,\
            \ or `failed`.\n- `accepted`: The messaging request is accepted by our\
            \ system.\n- `failed`: The message failed to be sent from our system.\n\
            - `sent`: The message has been sent from our system.\n- `delivered`: YCloud\
            \ has received a delivery receipt indicating that message is delivered.\n\
            - `undelivered`: YCloud has received a delivery receipt indicating that\
            \ message is not delivered."
          enum:
          - accepted
          - failed
          - sent
          - delivered
          - undelivered
          example: sent
          type: string
          x-enum-descriptions:
          - The messaging request is accepted by our system.
          - The message failed to be sent from our system.
          - The message has been sent from our system.
          - YCloud has received a delivery receipt indicating that message is delivered.
          - YCloud has received a delivery receipt indicating that message is not
            delivered.
        errorCode:
          description: Error code when the message is undeliverable.
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which the delivery report for this message was\
            \ updated, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-sms
          type: string
        bizType:
          description: "This can be either empty or one of `sms`, or `verify`. Defaults\
            \ to `sms`.\n- `sms`: Indicates that the message is sent via [Email](https://www.ycloud.com/sms)\
            \ product.\n- `verify`: Indicates that the message is sent via [Verify](https://www.ycloud.com/verify)\
            \ product."
          example: verify
          type: string
        verificationId:
          description: The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
          type: string
      required:
      - id
      - to
      type: object
    SmsInbound:
      description: "Represents an inbound SMS message, which means a user replies\
        \ to your message."
      properties:
        id:
          description: Unique ID of the message.
          type: string
        from:
          description: "The user's phone number who sent the message to your registered\
            \ sender ID, formatted in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        to:
          description: "The receiver's phone number, which is one of your registered\
            \ Sender IDs."
          type: string
        text:
          description: The text of this message.
          type: string
        sendTime:
          description: "The time at which this message was sent, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
      type: object
    SmsPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of SMS messages.
      example:
        items:
        - bizType: verify
          totalPrice: 0.0085
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          updateTime: 2022-03-01T12:00:00Z
          senderId: YCloud
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-sms
          id: id
          to: +447901614024
          text: Your verification code is 123456.
          verificationId: VERIFICATION-ID
          status: sent
        - bizType: verify
          totalPrice: 0.0085
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          updateTime: 2022-03-01T12:00:00Z
          senderId: YCloud
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-sms
          id: id
          to: +447901614024
          text: Your verification code is 123456.
          verificationId: VERIFICATION-ID
          status: sent
      properties:
        items:
          description: An array containing SMS objects.
          items:
            $ref: '#/components/schemas/Sms'
          type: array
      type: object
    Verification:
      example:
        smsFallback:
          unsupportedReason: SENDER_ID_UNAVAILABLE
          unsupportedDetail: This Sender ID is not registered.
          supported: true
        totalPrice: 0.0085
        smsFallbackEnabled: true
        channel: sms
        currency: USD
        id: ve6j7n8i
        to: +447901614024
        status: null
        sendTime: 2022-06-01T12:00:00Z
      properties:
        id:
          description: ID of the verification.
          example: ve6j7n8i
          type: string
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          description: Recipient of the verification.
          example: +447901614024
          type: string
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        sendTime:
          description: "The time at which this verification was sent, formatted in\
            \ [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        totalPrice:
          description: Total price of this verification.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        smsFallbackEnabled:
          description: "Whether sms fallback is enabled or not.\nApplicable when `channel`\
            \ is `whatsapp`. If enabled, YCloud will try to send the verification\
            \ code via sms when the WhatsApp message is failed."
          type: boolean
        smsFallback:
          $ref: '#/components/schemas/VerificationFallback'
      required:
      - id
      type: object
    VerificationChannel:
      description: "Supports several independent channels for verification:\n`sms`:\
        \ Sends an SMS message with a verification code.\n`voice`: Makes a voice call\
        \ with a verification code.\n`email_code`: Sends an email with a verification\
        \ code.\n`whatsapp`: Sends a WhatsApp message with a verification code."
      enum:
      - sms
      - voice
      - email_code
      - whatsapp
      example: sms
      type: string
    VerificationCheck:
      example:
        valid: false
        channel: sms
        id: vc8f92c20
        to: +447901614024
        status: null
      properties:
        id:
          description: ID of this object.
          example: vc8f92c20
          type: string
        valid:
          description: Whether the verification code is valid for this check.
          example: false
          type: boolean
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format or email address."
          example: +447901614024
          type: string
        channel:
          $ref: '#/components/schemas/VerificationChannel'
      required:
      - id
      - valid
      type: object
    VerificationCheckRequest:
      example:
        code: "123456"
        to: +447901614024
        verificationId: vid
      properties:
        verificationId:
          description: ID of the verification to be checked. One of `verificationId`
            or `to` is required.
          example: vid
          type: string
        to:
          description: The recipient's phone number or email address. One of `verificationId`
            or `to` is required.
          example: +447901614024
          type: string
        code:
          description: The verification to be checked.
          example: "123456"
          type: string
      type: object
    VerificationFallback:
      description: "Contains information about verification fallback. For example,\
        \ you can enable sms fallback for WhatsApp verification messages."
      example:
        unsupportedReason: SENDER_ID_UNAVAILABLE
        unsupportedDetail: This Sender ID is not registered.
        supported: true
      properties:
        supported:
          description: "Whether this fallback you requested is supported. If `false`\
            \ is returned, it means that there are errors for this fallback, and this\
            \ fallback will not be triggered."
          type: boolean
        unsupportedReason:
          description: "The reason why the fallback is unsupported, e.g, `PARAM_INVALID`,\
            \ `SMS_SIGNATURE_UNAVAILABLE`, `SENDER_ID_UNAVAILABLE`, or `MESSAGING_REGION_UNSUPPORTED`."
          example: SENDER_ID_UNAVAILABLE
          type: string
        unsupportedDetail:
          description: The detail message why the fallback is unsupported.
          example: This Sender ID is not registered.
          type: string
      type: object
    VerificationSendRequest:
      example:
        senderId: YCloud
        code: "123456"
        signature: YCloud
        channel: sms
        language: en
        to: +447901614024
      properties:
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        to:
          description: "The recipient's phone number or email address depending on\
            \ `channel`.\n- Phone number: In [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format. Applicable when `channel` is `sms` or `voice`.\n- Email address:\
            \ For example, `tom@example.com`. Applicable when `channel` is `email_code`."
          example: +447901614024
          type: string
        code:
          description: "Verification code to be sent. This field is optional. If not\
            \ provided, YCloud will automatically generate a code."
          example: "123456"
          maxLength: 8
          minLength: 4
          type: string
        senderId:
          description: "[Sender ID](https://help.ycloud.com/en/articles/3080386) to\
            \ be used."
          example: YCloud
          type: string
        signature:
          description: "This parameter is only required for Chinese mainland SMS messages.\
            \ You must specify an approved signature such as `YCloud`. It will be\
            \ added to the beginning of SMS body and wrapped with `【】`, e.g. `【YCloud】\
            Your verification code is 123456`."
          example: YCloud
          type: string
        language:
          description: "[ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html).\
            \ If not specified, language will be set as `en` by default. Notably,\
            \ in certain countries or regions, language will be automatically set\
            \ as the local language due to the regional restrictions.\nApplicable\
            \ languages:\n`ar`: Arabic\n`de`: German\n`en`: English\n`es`: Spanish\n\
            `fr`: French\n`id`: Indonesian\n`it`: Italian\n`pt_BR`: Portuguese\n`ru`:\
            \ Russian\n`tr`: Turkish\n`vi`: Vietnamese\n`zh_CN`: Simplified Chinese\n\
            `zh_HK`: Traditional Chinese"
          example: en
          type: string
      required:
      - channel
      - to
      type: object
    VerificationStatus:
      description: "Status of the verification.\n- `pending`: The verification message\
        \ (SMS, Voice, etc.) is sent, waiting to be checked. This happens when you\
        \ call the 'Start a verification' API successfully.\n- `approved`: The verification\
        \ has been successfully checked. A `pending` verification status changes to\
        \ `approved` when you call the 'Check a verification' API and receive a response\
        \ with the `valid` parameter is `true`. An approved verification cannot be\
        \ checked anymore.\n- `blocked`: The verification is blocked by user-defined\
        \ rules such as denylist, and geographical permission restrictions. A blocked\
        \ verification cannot be checked.\n- `expired`: The verification has expired\
        \ and cannot be checked anymore. The expiration can be customized in [Verify\
        \ Settings](https://www.ycloud.com/console/#/app/verify/setting).\n- `undelivered`:\
        \ YCloud has received a delivery receipt indicating that the verification\
        \ message was not delivered. An undelivered verification cannot be checked\
        \ anymore."
      enum:
      - pending
      - approved
      - blocked
      - expired
      - undelivered
      type: string
    SmsSendRequest:
      example:
        senderId: YCloud
        signature: YCloud
        externalId: externalId
        callbackUrl: https://httpbin.org/anything?tag=api-sms
        to: +447901614024
        text: Your verification code is 123456.
      properties:
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        text:
          description: The text of this message.
          example: Your verification code is 123456.
          type: string
        senderId:
          description: "[Sender ID](https://help.ycloud.com/en/articles/3080386) to\
            \ be used."
          example: YCloud
          type: string
        signature:
          description: "This parameter is only required for Chinese mainland SMS messages.\
            \ You must specify an approved signature such as `YCloud`. It will be\
            \ added to the beginning of SMS body and wrapped with `【】`, e.g. `【YCloud】\
            Your verification code is 123456`."
          example: YCloud
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-sms
          type: string
      required:
      - text
      - to
      type: object
    Voice:
      example:
        bizType: verify
        totalPrice: 0.05
        totalSegments: 1
        errorCode: errorCode
        externalId: externalId
        language: en
        updateTime: 2022-03-01T12:00:00Z
        verificationCode: "123456"
        regionCode: GB
        createTime: 2022-03-01T12:00:00Z
        currency: USD
        callbackUrl: https://httpbin.org/anything?tag=api-voice
        id: id
        to: +447901614024
        verificationId: VERIFICATION-ID
        status: sent
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        verificationCode:
          description: "The verification code to be sent, 4 to 6 digits."
          example: "123456"
          type: string
        language:
          description: "[ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html)."
          example: en
          type: string
        regionCode:
          description: "[ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: GB
          type: string
        totalSegments:
          description: Number of message segments. It's always 1 for voice calls.
          example: 1
          format: int32
          minimum: 1
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.05
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        status:
          description: "Delivery status. One of `accepted`, `sent`, `delivered`, `undelivered`,\
            \ or `failed`.\n- `accepted`: The messaging request is accepted by our\
            \ system.\n- `failed`: The message failed to be sent from our system.\n\
            - `sent`: The message has been sent from our system.\n- `delivered`: YCloud\
            \ has received a delivery receipt indicating that message is delivered.\n\
            - `undelivered`: YCloud has received a delivery receipt indicating that\
            \ message is not delivered."
          enum:
          - accepted
          - failed
          - sent
          - delivered
          - undelivered
          example: sent
          type: string
          x-enum-descriptions:
          - The messaging request is accepted by our system.
          - The message failed to be sent from our system.
          - The message has been sent from our system.
          - YCloud has received a delivery receipt indicating that message is delivered.
          - YCloud has received a delivery receipt indicating that message is not
            delivered.
        errorCode:
          description: Error code when the message is undeliverable.
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which the delivery report for this message was\
            \ updated, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-voice
          type: string
        bizType:
          description: "This can be either empty or one of `voice`, or `verify`. Defaults\
            \ to `voice`.\n- `voice`: Indicates that the message is sent via [Voice](https://www.ycloud.com/voice)\
            \ product.\n- `verify`: Indicates that the message is sent via [Verify](https://www.ycloud.com/verify)\
            \ product."
          example: verify
          type: string
        verificationId:
          description: The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
          type: string
      required:
      - id
      - to
      type: object
    VoicePage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of Voice Calls.
      example:
        items:
        - bizType: verify
          totalPrice: 0.05
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          language: en
          updateTime: 2022-03-01T12:00:00Z
          verificationCode: "123456"
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-voice
          id: id
          to: +447901614024
          verificationId: VERIFICATION-ID
          status: sent
        - bizType: verify
          totalPrice: 0.05
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          language: en
          updateTime: 2022-03-01T12:00:00Z
          verificationCode: "123456"
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-voice
          id: id
          to: +447901614024
          verificationId: VERIFICATION-ID
          status: sent
      properties:
        items:
          description: An array containing Voice objects.
          items:
            $ref: '#/components/schemas/Voice'
          type: array
      type: object
    VoiceSendRequest:
      example:
        externalId: externalId
        language: en
        callbackUrl: https://httpbin.org/anything?tag=api-voice
        to: +447901614024
        verificationCode: "123456"
      properties:
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        verificationCode:
          description: "The verification code to be sent, 4 to 6 digits."
          example: "123456"
          type: string
        language:
          description: "[ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html).\
            \ If not specified, language will be set as `en` by default. Notably,\
            \ in certain countries or regions, language will be automatically set\
            \ as the local language due to the regional restrictions.\nApplicable\
            \ languages:\n`ar`: Arabic\n`de`: German\n`en`: English\n`es`: Spanish\n\
            `fr`: French\n`id`: Indonesian\n`it`: Italian\n`pt`: Portuguese\n`ru`:\
            \ Russian\n`tr`: Turkish\n`vi`: Vietnamese\n`zh`: Chinese"
          example: en
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-voice
          type: string
      required:
      - to
      - verificationCode
      type: object
    WebhookEndpoint:
      example:
        createTime: 2022-06-01T12:00:00Z
        enabledEvents:
        - email.delivery.updated
        - sms.message.updated
        - voice.message.updated
        description: My first webhook endpoint.
        updateTime: 2022-06-01T12:00:00Z
        id: wh627c8640675de8fc689ab9d9
        secret: whsec_abc4147651944f02baf3be1eb45d33f1
        url: https://httpbin.org/anything?tag=api
        status: null
      properties:
        id:
          description: Unique ID for the object.
          example: wh627c8640675de8fc689ab9d9
          type: string
        url:
          description: The URL of the webhook endpoint.
          example: https://httpbin.org/anything?tag=api
          type: string
        enabledEvents:
          description: The list of events to enable for this endpoint.
          example:
          - email.delivery.updated
          - sms.message.updated
          - voice.message.updated
          items:
            type: string
          type: array
        description:
          description: An optional description of what the webhook is used for.
          example: My first webhook endpoint.
          type: string
        status:
          $ref: '#/components/schemas/WebhookEndpointStatus'
        secret:
          description: "The endpoint's secret, used to generate webhook signatures."
          example: whsec_abc4147651944f02baf3be1eb45d33f1
          type: string
        createTime:
          description: "The time at which this object was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which this object was updated, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
      required:
      - id
      type: object
    WebhookEndpointCreateRequest:
      example:
        enabledEvents:
        - null
        - null
        description: My first webhook endpoint.
        url: https://httpbin.org/anything?tag=api
        status: null
      properties:
        url:
          description: The URL of the webhook endpoint.
          example: https://httpbin.org/anything?tag=api
          maxLength: 500
          type: string
        enabledEvents:
          description: The list of events to enable for this endpoint.
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        description:
          description: An optional description of what the webhook is used for.
          example: My first webhook endpoint.
          maxLength: 400
          type: string
        status:
          $ref: '#/components/schemas/WebhookEndpointStatus'
      required:
      - enabledEvents
      - url
      type: object
    WebhookEndpointPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of webhook endpoints.
      example:
        items:
        - createTime: 2022-06-01T12:00:00Z
          enabledEvents:
          - email.delivery.updated
          - sms.message.updated
          - voice.message.updated
          description: My first webhook endpoint.
          updateTime: 2022-06-01T12:00:00Z
          id: wh627c8640675de8fc689ab9d9
          secret: whsec_abc4147651944f02baf3be1eb45d33f1
          url: https://httpbin.org/anything?tag=api
          status: null
        - createTime: 2022-06-01T12:00:00Z
          enabledEvents:
          - email.delivery.updated
          - sms.message.updated
          - voice.message.updated
          description: My first webhook endpoint.
          updateTime: 2022-06-01T12:00:00Z
          id: wh627c8640675de8fc689ab9d9
          secret: whsec_abc4147651944f02baf3be1eb45d33f1
          url: https://httpbin.org/anything?tag=api
          status: null
      properties:
        items:
          description: An array containing webhook endpoint objects.
          items:
            $ref: '#/components/schemas/WebhookEndpoint'
          type: array
      type: object
    WebhookEndpointStatus:
      description: "Webhook endpoint status.\n- `active`: Indicates that the webhook\
        \ endpoint is active, and will receive notifications of events monitored.\n\
        - `disabled`: Indicates that the webhook endpoint is disabled, and will not\
        \ receive notifications.\n- `pending`: Indicates that the webhook endpoint\
        \ is pending, and will not receive notifications. If a webhook endpoint fails\
        \ to receive notifications frequently, it changes to pending."
      enum:
      - active
      - disabled
      - pending
      type: string
      x-enum-descriptions:
      - "Indicates that the webhook endpoint is active, and will receive notifications\
        \ of events monitored."
      - "Indicates that the webhook endpoint is disabled, and will not receive notifications."
      - "Indicates that the webhook endpoint is pending, and will not receive notifications.\
        \ If a webhook endpoint fails to receive notifications frequently, it changes\
        \ to pending."
    WebhookEndpointUpdateRequest:
      example:
        enabledEvents:
        - null
        - null
        description: My first webhook endpoint.
        url: https://httpbin.org/anything?tag=api
        status: null
      properties:
        url:
          description: The URL of the webhook endpoint.
          example: https://httpbin.org/anything?tag=api
          maxLength: 500
          type: string
        enabledEvents:
          description: The list of events to enable for this endpoint.
          items:
            $ref: '#/components/schemas/EventType'
          type: array
        description:
          description: An optional description of what the webhook is used for.
          example: My first webhook endpoint.
          maxLength: 400
          type: string
        status:
          $ref: '#/components/schemas/WebhookEndpointStatus'
      type: object
    WhatsappApiError:
      description: "The original error object returned by WhatsApp. See [Handling\
        \ Errors](https://developers.facebook.com/docs/graph-api/guides/error-handling),\
        \ [Cloud API Error Codes](https://developers.facebook.com/docs/whatsapp/cloud-api/support/error-codes)."
      example:
        error_user_title: Message Cannot Be Submitted
        code: "200002"
        error_subcode: "2388109"
        message: HSM Template creation failed
        type: OAuthException
        fbtrace_id: AVGjJ7ia2zJkrHG
        error_user_msg: This message template cannot be created.
        error_data: "{}"
      properties:
        message:
          description: A human-readable description of the error.
          example: HSM Template creation failed
          type: string
        code:
          description: An error code.
          example: "200002"
          type: string
        type:
          description: Error type.
          example: OAuthException
          type: string
        error_subcode:
          description: Additional code about the error.
          example: "2388109"
          type: string
        error_user_msg:
          description: The message to display to the user. The language of the message
            is based on the locale of the API request.
          example: This message template cannot be created.
          type: string
        error_user_title:
          description: "The title of the dialog, if shown. The language of the message\
            \ is based on the locale of the API request."
          example: Message Cannot Be Submitted
          type: string
        fbtrace_id:
          description: "Internal support identifier. When reporting a bug related\
            \ to a Graph API call, include the fbtrace_id to help us find log data\
            \ for debugging."
          example: AVGjJ7ia2zJkrHG
          type: string
        error_data:
          description: "Additional data about the error. A string or map.\n- For template\
            \ APIs, this field is a string describing the reason for the error.  \n\
            - For message APIs, this field is a map with property `details` describing\
            \ the reason for the error."
          type: object
      required:
      - code
      - message
      type: object
    WhatsappBusinessAccount:
      description: "Represents a specific [WhatsApp Business Account (WABA)](https://www.facebook.com/business/help/1499554293524119)."
      example:
        ownershipType: ownershipType
        country: country
        primaryFundingId: primaryFundingId
        decision: null
        businessVerificationStatus: null
        restrictions:
        - restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
          expiration: 2022-06-01T12:00:00Z
        - restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
          expiration: 2022-06-01T12:00:00Z
        banDate: "December 9, 2022"
        messageTemplateNamespace: messageTemplateNamespace
        banState: null
        accountReviewStatus: null
        violationType: SCAM
        updateEvent: null
        purchaseOrderNumber: purchaseOrderNumber
        name: name
        timezoneId: "1"
        currency: currency
        id: id
      properties:
        id:
          description: ID of the WhatApp Business Account.
          type: string
        name:
          description: User-friendly name to differentiate WhatsApp Business Accounts.
          type: string
        currency:
          description: The currency in which the payment transactions for the WhatsApp
            Business Account will be processed.
          type: string
        messageTemplateNamespace:
          description: Namespace string for the message templates that belong to the
            WhatsApp Business Account.
          type: string
        accountReviewStatus:
          $ref: '#/components/schemas/WhatsappBusinessAccountReviewStatus'
        businessVerificationStatus:
          $ref: '#/components/schemas/MetaBusinessAccountVerificationStatus'
        country:
          description: Country of the WhatsApp Business Account's owning Meta Business
            account.
          type: string
        ownershipType:
          description: Ownership type of the WhatsApp Business Account.
          type: string
        primaryFundingId:
          description: Primary funding ID for the WhatsApp Business Account paid service.
          type: string
        purchaseOrderNumber:
          description: The purchase order number supplied by the business for payment
            management purposes.
          type: string
        timezoneId:
          description: "The timezone ID of the WhatsApp Business Account. See [Timezone\
            \ IDs](https://developers.facebook.com/docs/marketing-api/reference/ad-account/timezone-ids)."
          example: "1"
          type: string
        decision:
          $ref: '#/components/schemas/WhatsappReviewDecision'
        updateEvent:
          $ref: '#/components/schemas/WhatsappBusinessAccountUpdateEventEnum'
        banState:
          $ref: '#/components/schemas/WhatsappBusinessAccountBanState'
        banDate:
          description: The date when the WABA is banned.
          example: "December 9, 2022"
          type: string
        violationType:
          description: "Used to report violations imposed on the WABA.\nSee also [WhatsApp\
            \ Business Platform Policy Violations](https://developers.facebook.com/docs/whatsapp/overview/policy-enforcement/violations)."
          example: SCAM
          type: string
        restrictions:
          description: "Used to report restrictions imposed on the WABA, when that\
            \ WABA violates [WhatsApp Business Platform policies](https://developers.facebook.com/docs/whatsapp/overview/policy-enforcement)."
          items:
            $ref: '#/components/schemas/WhatsappBusinessAccountRestrictionInfo'
          type: array
      type: object
    WhatsappBusinessAccountBanState:
      description: The ban state of the WhatsApp Business Account.
      enum:
      - SCHEDULE_FOR_DISABLE
      - DISABLE
      - REINSTATE
      type: string
    WhatsappBusinessAccountPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of WhatsApp Business Accounts.
      example:
        items:
        - ownershipType: ownershipType
          country: country
          primaryFundingId: primaryFundingId
          decision: null
          businessVerificationStatus: null
          restrictions:
          - restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
            expiration: 2022-06-01T12:00:00Z
          - restrictionType: RESTRICTED_ADD_PHONE_NUMBER_ACTION
            expiration: 2022-06-01T12:00:00Z
          banDate: "December 9, 2022"
          messageTemplateNamespace: messageTemplateNamespace
          banState: null
          accountReviewStatus: null
          violationType: SCAM
          updateEvent: null
          purchaseOrderNumber: purchaseOrderNumber
          name: name
          timezoneId: "1"
          currency: currency
          id: id
        - ownershipType: ownershipType
          country: country
          primaryFundingId: primaryFundingId
          decision: null
          businessVerificationStatus: null
[...]
