openapi: 3.0.0
info:
  contact:
    email: service@ycloud.com
  description: "The [YCloud](https://ycloud.com) API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\
    \ Our API is designed to have predictable, resource-oriented URLs, return [JSON](https://www.json.org)\
    \ responses, and use standard HTTP response codes and verbs."
  termsOfService: https://ycloud.com/terms-service
  title: YCloud API
  version: v2
externalDocs:
  description: Homepage
  url: https://ycloud.com
servers:
- description: Base URL
  url: https://api.ycloud.com/v2
security:
- api_key: []
tags:
- name: Balance
- name: Contacts
- name: Emails
- name: SMS
- name: Unsubscribers
- name: Verify
- name: Voices
- name: Webhook Endpoints
- name: WhatsApp Business Accounts
- name: WhatsApp Inbound Messages
- name: WhatsApp Messages
- name: WhatsApp Phone Numbers
- name: WhatsApp Templates
paths:
  /balance:
    get:
      description: Retrieves the current account balance.
      operationId: balance-retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: Successfully retrieved balance.
      summary: Retrieve balance
      tags:
      - Balance
      x-accepts: application/json
  /contact/contacts:
    get:
      description: Returns a paginated list of contacts.
      operationId: contact-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Comma-separated list of tags.
        explode: true
        in: query
        name: filter.tags
        required: false
        schema:
          example: "tag1,tag2"
          type: string
        style: form
      - description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
          \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
        explode: true
        in: query
        name: filter.countryCode
        required: false
        schema:
          example: GB
          type: string
        style: form
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: true
        in: query
        name: filter.phoneNumber
        required: false
        schema:
          example: +447901614024
          type: string
        style: form
      - description: The contact's email address.
        explode: true
        in: query
        name: filter.email
        required: false
        schema:
          example: support@example.com
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List contacts
      tags:
      - Contacts
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a contact.
      operationId: contact-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully created a contact.
      summary: Create a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /contact/contacts/{id}:
    delete:
      description: Deletes a contact.
      operationId: contact-delete
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1693364594105000026"
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully deleted the contact.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a contact
      tags:
      - Contacts
      x-accepts: application/json
    get:
      description: Retrieves a contact.
      operationId: contact-retrieve
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1693364594105000026"
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully retrieved the contact.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a contact
      tags:
      - Contacts
      x-accepts: application/json
    patch:
      description: Updates a contact.
      operationId: contact-update
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1693364594105000026"
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully updated the contact.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /emails:
    post:
      description: Sends an outbound email message.
      operationId: email-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: The request is successfully accepted.
      summary: Send an email
      tags:
      - Emails
      x-content-type: application/json
      x-accepts: application/json
  /sms:
    get:
      description: Returns a paginated list of SMS messages you've previously sent.
      operationId: sms-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List SMS records
      tags:
      - SMS
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound text message.
      operationId: sms-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
        description: SMS request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sms'
          description: The request is successfully accepted.
      summary: Send an SMS
      tags:
      - SMS
      x-content-type: application/json
      x-accepts: application/json
  /unsubscribers:
    get:
      description: Returns a paginated list of unsubscribers.
      operationId: unsubscriber-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "A cursor to fetch the next page in cursor pagination.\nFor example,\
          \ if you make a list request, receive 100 objects and `cursor.after=id:foo`,\
          \ your subsequent call can include `pageAfter=id:foo` in order to fetch\
          \ the next page of the list."
        explode: true
        in: query
        name: pageAfter
        required: false
        schema:
          example: id:foo
          type: string
        style: form
      - explode: true
        in: query
        name: filter.customer
        required: false
        schema:
          description: The customer who has opted out.
          example: +447901614024
          type: string
        style: form
      - explode: true
        in: query
        name: filter.channel
        required: false
        schema:
          $ref: '#/components/schemas/UnsubscriberChannel'
        style: form
      - explode: true
        in: query
        name: filter.regionCode
        required: false
        schema:
          description: "Region code, formatted in [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscriberPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List unsubscribers
      tags:
      - Unsubscribers
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: |-
        Creates an unsubscriber.
        An unsubscriber is a configuration item representing that customers opt out of receiving messages from your business.
        **A customer and a channel form a unique identifier for an unsubscriber.**
      operationId: unsubscriber-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnsubscriberCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
          description: Successfully created an unsubscriber.
      summary: Create an unsubscriber
      tags:
      - Unsubscribers
      x-content-type: application/json
      x-accepts: application/json
  /unsubscribers/{customer}:
    get:
      description: Returns all unsubscribers for the specified customer.
      operationId: unsubscriber-list-all-by-customer
      parameters:
      - description: The customer who has opted out.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Unsubscriber'
                type: array
          description: Successfully retrieved the unsubscribers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: List all unsubscribers by customer
      tags:
      - Unsubscribers
      x-accepts: application/json
  /unsubscribers/{customer}/{channel}:
    delete:
      description: Deletes the unsubscriber for the specified customer and channel.
      operationId: unsubscriber-delete-by-customer-and-channel
      parameters:
      - description: The customer who has opted out.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      - explode: false
        in: path
        name: channel
        required: true
        schema:
          $ref: '#/components/schemas/UnsubscriberChannel'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
          description: Successfully deleted the unsubscriber.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete an unsubscriber
      tags:
      - Unsubscribers
      x-accepts: application/json
    get:
      description: Retrieves the unsubscriber for the specified customer and channel.
      operationId: unsubscriber-retrieve-by-customer-and-channel
      parameters:
      - description: The customer who has opted out.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      - explode: false
        in: path
        name: channel
        required: true
        schema:
          $ref: '#/components/schemas/UnsubscriberChannel'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
          description: Successfully retrieved the unsubscribers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve an unsubscriber
      tags:
      - Unsubscribers
      x-accepts: application/json
  /verify/verifications:
    post:
      description: "Starts a verification by sending an SMS, voice, or email message\
        \ to the recipient.\nThis verification is charged once the message is sent\
        \ successfully."
      operationId: verification-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationSendRequest'
        description: Verification request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verification'
          description: The request is successfully accepted.
      summary: Start a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /verify/verificationChecks:
    post:
      description: "Checks a verification with a phone number, an email address, or\
        \ a verification ID.\nA `pending` verification status changes to `approved`\
        \ once you receive a response with the `valid` parameter is `true`. An approved\
        \ verification cannot be checked anymore."
      operationId: verification-check
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCheck'
          description: Successfully processed the verification check.
      summary: Check a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /voices:
    get:
      description: Returns a paginated list of voice calls you've previously sent.
      operationId: voice-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List voice records
      tags:
      - Voices
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound voice call verification code.
      operationId: voice-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSendRequest'
        description: Voice call request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
          description: The request is successfully accepted.
      summary: Send a voice code
      tags:
      - Voices
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints:
    get:
      description: Returns a paginated list of webhook endpoints.
      operationId: webhook_endpoint-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List webhook endpoints
      tags:
      - Webhook Endpoints
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a webhook endpoint listening for specific events.
      operationId: webhook_endpoint-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully created a webhook endpoint.
      summary: Create a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}:
    delete:
      description: Deletes a webhook endpoint.
      operationId: webhook_endpoint-delete
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully deleted the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    get:
      description: Retrieves the webhook endpoint with the given ID.
      operationId: webhook_endpoint-retrieve
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully retrieved the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    patch:
      description: "Updates a webhook endpoint, such as url, events, status."
      operationId: webhook_endpoint-update
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully updated the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}/rotateSecret:
    post:
      description: Generates a new secret for a webhook endpoint.
      operationId: webhook_endpoint-rotate-secret
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully rotated the webhook endpoint secret.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Rotate a webhook endpoint secret
      tags:
      - Webhook Endpoints
      x-accepts: application/json
  /whatsapp/businessAccounts:
    get:
      description: Returns a paginated list of WhatsApp business accounts you've registered.
      operationId: whatsapp_business_account-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account review status.
        explode: true
        in: query
        name: filter.accountReviewStatus
        required: false
        schema:
          example: APPROVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccountPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WABAs
      tags:
      - WhatsApp Business Accounts
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/businessAccounts/{id}:
    get:
      description: Retrieves a WABA you've registered.
      operationId: whatsapp_business_account-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccount'
          description: Successfully retrieved the WABA.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WABA
      tags:
      - WhatsApp Business Accounts
      x-accepts: application/json
  /whatsapp/inboundMessages/{id}/markAsRead:
    post:
      description: "When you receive an inbound message from webhooks, you can use\
        \ this endpoint to mark the message as read. Messages marked as read display\
        \ two blue check marks alongside their timestamp.\n\nMarking a message as\
        \ read will also mark earlier messages in the conversation as read."
      operationId: whatsapp_inbound_message-mark-as-read
      parameters:
      - description: "ID of the message.\n\nA wamid (i.e., the original message ID\
          \ on WhatsApp's platform) is also acceptable."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          description: Successfully marked the message as read.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Mark message as read
      tags:
      - WhatsApp Inbound Messages
      x-accepts: application/json
  /whatsapp/messages/sendDirectly:
    post:
      description: |-
        Sends an outbound WhatsApp message directly.

        The message is submitted to the WhatsApp Business API synchronously. Typically used for sending OTP and instant messages.

        The response body field `error.whatsappApiError` is included if we tried to request the WhatsApp Business API and got an error response.
      operationId: whatsapp_message-send-directly
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Send a message directly
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages:
    post:
      description: |-
        Enqueues an outbound WhatsApp message for sending.

        Queued messages will be submitted to the WhatsApp Business API asynchronously.
      operationId: whatsapp_message-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Enqueue a message
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages/{id}:
    get:
      description: Retrieves a WhatsApp message you've previously sent.
      operationId: whatsapp_message-retrieve
      parameters:
      - description: ID of the object.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a message
      tags:
      - WhatsApp Messages
      x-accepts: application/json
  /whatsapp/phoneNumbers:
    get:
      description: Returns a paginated list of WhatsApp business phone numbers you've
        registered.
      operationId: whatsapp_phone_number-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List phone numbers
      tags:
      - WhatsApp Phone Numbers
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}:
    get:
      description: Retrieves a WhatsApp business phone number you've registered.
      operationId: whatsapp_phone_number-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a phone number
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/profile:
    get:
      description: Retrieves a WhatsApp business phone number's profile. Customers
        can view your business profile by clicking your business's name or number
        in a conversation thread.
      operationId: whatsapp_phone_number-retrieve-profile
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a phone number profile
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
    patch:
      description: Updates a WhatsApp business phone number profile.
      operationId: whatsapp_phone_number-update-profile
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberProfileUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
          description: Successfully updated the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a phone number profile
      tags:
      - WhatsApp Phone Numbers
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/whatsappCommerceSettings:
    get:
      description: Retrieves a WhatsApp business phone number's commerce settings.
      operationId: whatsapp_phone_number-retrieve-commerce-settings
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommerceSettings'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve commerce settings
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
    patch:
      description: |-
        Updates a WhatsApp business phone number's commerce settings.
        Use this endpoint to enable or disable the shopping cart or the product catalog for a specific business phone number.
      operationId: whatsapp_phone_number-update-commerce-settings
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +447901614024
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCommerceSettingsUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommerceSettings'
          description: Successfully updated the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update commerce settings
      tags:
      - WhatsApp Phone Numbers
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/register:
    post:
      description: Registers a WhatsApp business phone number.
      operationId: whatsapp_phone_number-register
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Phone number ID.
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: "1234567890123456"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Successfully registered the phone number.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Register a phone number
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
  /whatsapp/templates:
    get:
      description: Returns a paginated list of WhatsApp templates you've previously
        created.
      operationId: whatsapp_template-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      - description: Name of the template.
        explode: true
        in: query
        name: filter.name
        required: false
        schema:
          example: sample_whatsapp_template
          maxLength: 512
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: form
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: true
        in: query
        name: filter.language
        required: false
        schema:
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplatePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List templates
      tags:
      - WhatsApp Templates
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a WhatsApp template.
      operationId: whatsapp_template-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully created a WhatsApp template.
      summary: Create a template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}:
    delete:
      description: "Deletes WhatsApp templates by name. If that template name exists\
        \ in multiple languages, all languages will be deleted.\nHTTP status `404`\
        \ is returned if no templates are found for the specific name."
      operationId: whatsapp_template-delete-by-name
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WhatsappTemplate'
                type: array
          description: Successfully deleted the template(s).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete templates by name
      tags:
      - WhatsApp Templates
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}/{language}:
    delete:
      description: Deletes a WhatsApp template by name and language.
      operationId: whatsapp_template-delete-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en_US
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully deleted the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    get:
      description: Retrieves a WhatsApp template by name and language.
      operationId: whatsapp_template-retrieve-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en_US
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully retrieved the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    patch:
      description: "Edits a WhatsApp template by name and language.\nEditing a template\
        \ replaces its old contents entirely, so include any components you wish to\
        \ preserve as well as components you wish to update using the components parameter.\n\
        See also [Edit a Message Template](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates#edit-a-message-template)."
      operationId: whatsapp_template-edit-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en_US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully edited the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Edit a template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    channel-in_path_for_unsubscriber:
      explode: false
      in: path
      name: channel
      required: true
      schema:
        $ref: '#/components/schemas/UnsubscriberChannel'
      style: simple
    customer-in_path_for_unsubscriber:
      description: The customer who has opted out.
      explode: false
      in: path
      name: customer
      required: true
      schema:
        example: +447901614024
        type: string
      style: simple
    filter_createTime_gte-default_1d:
      description: "Return results where the `createTime` field is greater than or\
        \ equal to this value. Default: One day ago from now."
      explode: true
      in: query
      name: filter.createTime.gte
      required: false
      schema:
        example: 2022-03-01T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_createTime_lte:
      description: Return results where the `createTime` field is less than or equal
        to this value.
      explode: true
      in: query
      name: filter.createTime.lte
      required: false
      schema:
        example: 2022-03-31T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_id:
      description: Unique object ID on our side. Other filter parameters will be ignored
        if this parameter is present.
      explode: true
      in: query
      name: filter.id
      required: false
      schema:
        type: string
      style: form
    filter_wabaId:
      description: WhatsApp Business Account ID.
      explode: true
      in: query
      name: filter.wabaId
      required: false
      schema:
        example: whatsapp-business-account-id
        type: string
      style: form
    filter_accountReviewStatus-WABA:
      description: WhatsApp Business Account review status.
      explode: true
      in: query
      name: filter.accountReviewStatus
      required: false
      schema:
        example: APPROVED
        type: string
      style: form
    id-in_path:
      description: ID of the object.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 627c8640675de8fc689ab9d9
        type: string
      style: simple
    id-in_path_for_webhook_endpoint:
      description: ID of the webhook endpoint.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: wh627c8640675de8fc689ab9d9
        type: string
      style: simple
    id-in_path_for_contact:
      description: ID of the contact.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: "1693364594105000026"
        maxLength: 255
        type: string
      style: simple
    includeTotal:
      description: Return results inside an object that contains the total result
        count or not.
      explode: true
      in: query
      name: includeTotal
      required: false
      schema:
        default: false
        type: boolean
      style: form
    limit:
      description: "A limit on the number of results to be returned, or number of\
        \ results per page, between 1 and 100, defaults to 10."
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    page:
      description: "Page number of the results to be returned, 1-based."
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    pageAfter:
      description: "A cursor to fetch the next page in cursor pagination.\nFor example,\
        \ if you make a list request, receive 100 objects and `cursor.after=id:foo`,\
        \ your subsequent call can include `pageAfter=id:foo` in order to fetch the\
        \ next page of the list."
      explode: true
      in: query
      name: pageAfter
      required: false
      schema:
        example: id:foo
        type: string
      style: form
    wabaId-in_path:
      description: WhatsApp Business Account ID.
      explode: false
      in: path
      name: wabaId
      required: true
      schema:
        example: whatsapp-business-account-id
        type: string
      style: simple
  schemas:
    Balance:
      example:
        amount: 190.0765
        currency: USD
      properties:
        amount:
          description: Balance of current account.
          example: 190.0765
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - amount
      - currency
      type: object
    Contact:
      description: Represents a contact.
      example:
        phoneNumber: +16315551111
        lastSeen: 2022-06-01T12:00:00Z
        createTime: 2022-06-01T12:00:00Z
        countryCode: GB
        nickname: nickname
        id: "1693364594105000026"
        countryName: countryName
        email: support@example.com
        tags:
        - tags
        - tags
        - tags
        - tags
        - tags
        customAttributes:
        - name: name
          value: "{}"
        - name: name
          value: "{}"
      properties:
        id:
          description: Unique ID for the object.
          example: "1693364594105000026"
          maxLength: 255
          type: string
        nickname:
          description: Contact's nickname.
          example: nickname
          type: string
        countryCode:
          description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
            \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: GB
          type: string
        countryName:
          description: Full country name.
          type: string
        phoneNumber:
          description: "Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +16315551111
          type: string
        email:
          description: "The contact's email address.\nIf present, the email address\
            \ must be unique."
          example: support@example.com
          type: string
        lastSeen:
          description: "The time at which the latest inbound message was created,\
            \ formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        tags:
          description: Contact's tags.
          items:
            maxLength: 50
            type: string
          maxItems: 50
          type: array
        createTime:
          description: "The time at which the contact was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        customAttributes:
          description: Contact's custom attributes.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
          type: array
      required:
      - id
      type: object
    ContactCustomAttribute:
      example:
        name: name
        value: "{}"
      properties:
        name:
          description: Name of the attribute that you've previously defined.
          type: string
        value:
          description: "Value of the attribute.\nIts data type depends on the format\
            \ of the attribute you defined:\nFor Text, the `value` is a string with\
            \ a maximum length of 250. \nFor Array, the `value` is an array of strings\
            \ with a maximum length of 250.\nFor Number, the `value` is a signed decimal\
            \ number.\nFor Boolean, the `value` is either `true` or `false`.\nFor\
            \ Time, the `value` is a Unix timestamp in milliseconds.\nFor Long Text,\
            \ the `value` is a string with a maximum length of 5000."
          type: object
      type: object
    ContactCreateRequest:
      description: Contains the properties of the contact to be created.
      example:
        phoneNumber: +16315551111
        countryCode: GB
        nickname: nickname
        email: support@example.com
        tags:
        - tags
        - tags
        - tags
        - tags
        - tags
        customAttributes:
        - name: name
          value: "{}"
        - name: name
          value: "{}"
      properties:
        nickname:
          description: "Contact's nickname. Maximum length: 250 characters."
          example: nickname
          maxLength: 250
          type: string
        phoneNumber:
          description: "Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +16315551111
          type: string
        countryCode:
          description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
            \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: GB
          type: string
        email:
          description: "Contact's email address.\nIf present, the email address must\
            \ be unique."
          example: support@example.com
          maxLength: 250
          type: string
        tags:
          description: "Contact's tags. Max items: 50. Max characters per tag: 50."
          items:
            description: "Tag. Maximum length: 50 characters."
            maxLength: 50
            type: string
          maxItems: 50
          type: array
        customAttributes:
          description: Contact's custom attributes.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
          type: array
      required:
      - phoneNumber
      type: object
    ContactPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of contacts.
      example:
        items:
        - phoneNumber: +16315551111
          lastSeen: 2022-06-01T12:00:00Z
          createTime: 2022-06-01T12:00:00Z
          countryCode: GB
          nickname: nickname
          id: "1693364594105000026"
          countryName: countryName
          email: support@example.com
          tags:
          - tags
          - tags
          - tags
          - tags
          - tags
          customAttributes:
          - name: name
            value: "{}"
          - name: name
            value: "{}"
        - phoneNumber: +16315551111
          lastSeen: 2022-06-01T12:00:00Z
          createTime: 2022-06-01T12:00:00Z
          countryCode: GB
          nickname: nickname
          id: "1693364594105000026"
          countryName: countryName
          email: support@example.com
          tags:
          - tags
          - tags
          - tags
          - tags
          - tags
          customAttributes:
          - name: name
            value: "{}"
          - name: name
            value: "{}"
      properties:
        items:
          description: An array containing contact objects.
          items:
            $ref: '#/components/schemas/Contact'
          type: array
      type: object
    ContactUpdateRequest:
      description: Contains the properties of the contact to be updated.
      example:
        phoneNumber: +16315551111
        countryCode: GB
        nickname: nickname
        email: support@example.com
        tags:
        - tags
        - tags
        - tags
        - tags
        - tags
        customAttributes:
        - name: name
          value: "{}"
        - name: name
          value: "{}"
      properties:
        nickname:
          description: "Contact's nickname. Maximum length: 250 characters."
          example: nickname
          maxLength: 250
          type: string
        phoneNumber:
          description: "Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +16315551111
          type: string
        countryCode:
          description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
            \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: GB
          type: string
        email:
          description: "The contact's email address.\nIf present, the email address\
            \ must be unique."
          example: support@example.com
          maxLength: 250
          type: string
        tags:
          description: "Contact's tags. Maximum items: 50."
          items:
            description: "Tag. Maximum length: 50 characters."
            maxLength: 50
            type: string
          maxItems: 50
          type: array
        customAttributes:
          description: "Contact's custom attributes.\nIf present (i.e., not `null`),\
            \ all previous attributes of this contact will be replaced."
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
          type: array
      type: object
    Email:
      example:
        cc:
        - address: team@example.com
          name: Support Team
        - address: team@example.com
          name: Support Team
        summary: This is a summary.
        totalRecipients: 3
        bcc:
        - address: team@example.com
          name: Support Team
        - address: team@example.com
          name: Support Team
        totalPrice: 0.0085
        subject: subject
        externalId: externalId
        createTime: 2022-06-01T12:00:00Z
        replyTo:
        - address: team@example.com
          name: Support Team
        - address: team@example.com
          name: Support Team
        from:
          address: team@example.com
          name: Support Team
        callbackUrl: https://httpbin.org/anything?tag=api-email
        currency: USD
        id: id
        to:
        - address: team@example.com
          name: Support Team
        - address: team@example.com
          name: Support Team
        contentType: null
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        from:
          $ref: '#/components/schemas/Mailbox'
        to:
          description: The intended recipients' email addresses.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        cc:
          description: Recipients who will receive a copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        bcc:
          description: Recipients who will receive a blind carbon copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        replyTo:
          description: "If this field exists, then the reply should go to the addresses\
            \ indicated in that field and not to the address(es) indicated in the\
            \ `from` field."
          items:
            $ref: '#/components/schemas/Mailbox'
          type: array
        subject:
          description: "The email subject, which contains a short string identifying\
            \ the topic of the message."
          maxLength: 255
          type: string
        summary:
          description: "This is a summary of your email. Max length: 70."
          example: This is a summary.
          maxLength: 70
          type: string
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-email
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        totalRecipients:
          description: "Total recipients of this message, including `to`, `cc` and\
            \ `bcc`."
          example: 3
          format: int32
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - id
      type: object
    EmailContentType:
      description: The MIME type of the email content (`text/html` or `text/plain`).
        Be aware that We won't count click and open events for the type `text/plain`.
      enum:
      - text/html
      - text/plain
      type: string
      x-enum-varnames:
      - TEXT_HTML
      - TEXT_PLAIN
    EmailDelivery:
      description: Represents an email delivery report.
      properties:
        emailId:
          description: Unique ID for the related email you've previously sent.
          maxLength: 128
          minLength: 6
          type: string
        recipientAddress:
          description: A recipient's email address.
          example: tom@example.com
          type: string
        status:
          description: "Delivery status of the email to the specific recipient address.\n\
            - `sending`: The messaging request is accepted by our system.\n- `failed`:\
            \ The message failed to be sent from our system.\n- `sent`: The message\
            \ has been sent from our system.\n- `delivered`: Our system has received\
            \ a delivery receipt indicating that message is delivered.\n- `undelivered`:\
            \ Our system has received a delivery receipt indicating that message is\
            \ not delivered."
          enum:
          - sending
          - failed
          - sent
          - delivered
          - undelivered
          example: failed
          type: string
        errorCode:
          description: Error code when the email is undeliverable.
          example: "402"
          type: string
        errorMessage:
          description: Error message when the email is undeliverable.
          example: Unsubscribes
          type: string
        externalId:
          description: The `externalId` you specified when you sent the email.
          type: string
        bizType:
          description: "This can be either empty or one of `email`, or `verify`. Defaults\
            \ to `email`.\n- `email`: Indicates that the message is sent via the **Email**\
            \ product.\n- `verify`: Indicates that the message is sent via the **Verify**\
            \ product."
          example: email
          type: string
        verificationId:
          description: The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
          type: string
      required:
      - emailId
      - recipientAddress
      type: object
    EmailSendRequest:
      example:
        cc: "cc1@example.com,Nick<cc2@example.com>"
        summary: This is a summary.
        variables:
        - key: variables
        - key: variables
        bcc: "bcc1@example.com,Nick<bcc2@example.com>"
        subject: subject
        replyTo: replyTo
        externalId: externalId
        from: SupportTeam<support@example.com>
        callbackUrl: https://httpbin.org/anything?tag=api-email
        to: "to1@example.com,Nick<to2@example.com>"
        contentType: null
        content: "This is a test message from #nick#."
      properties:
        from:
          description: "- The sender's email. Its domain should be one that has been\
            \ registered and activated in your account.\n- The sender's email address\
            \ is required while the sender's name is optional. For example, both `support@example.com`\
            \ and `Sender<support@example.com>` work."
          example: SupportTeam<support@example.com>
          type: string
        to:
          description: "- The intended recipients' email addresses.\n- Supports a\
            \ comma-separated list of one or more addresses. Max items: 100."
          example: "to1@example.com,Nick<to2@example.com>"
          type: string
        subject:
          description: "The email subject, which contains a short string identifying\
            \ the topic of the message. Max length: 255."
          maxLength: 255
          type: string
        content:
          description: "- The email body. Max size: 150 KB.\n- Variables in the form\
            \ of `#var_1#` are supported, they should be used together with the `variables`\
            \ parameter. Variable keys only support letters, digits, and the underline\
            \ character (`_`).\n- You can use the [Test Templates](https://help.ycloud.com/en/articles/6006545)\
            \ provided by YCloud for testing."
          example: "This is a test message from #nick#."
          type: string
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        variables:
          description: "- The variable key-value pairs that will replace the variable\
            \ placeholders in `content` for each recipient. Variable keys are those\
            \ that are wrapped with `#` as placeholders (e.g., `#var_1#`) in `content`.\
            \ The placeholders will be replaced by variable values when sending the\
            \ email.\n- The size of the array must be the same as the number of recipients\
            \ in `to`. Be aware that `cc` and `bcc` addresses are excluded, and they\
            \ can not receive emails that contain variables.\n- This parameter's size\
            \ will be calculated together with the parameter `content`. The whole\
            \ size must not exceed 150 KB."
          items:
            additionalProperties:
              type: string
            description: Variable key-value pair.
            type: object
          type: array
        cc:
          description: Recipients who will receive a copy of the email.
          example: "cc1@example.com,Nick<cc2@example.com>"
          type: string
        bcc:
          description: Recipients who will receive a blind carbon copy of the email.
          example: "bcc1@example.com,Nick<bcc2@example.com>"
          type: string
        replyTo:
          description: "If this field exists, then the reply should go to the addresses\
            \ indicated in that field and not to the address(es) indicated in the\
            \ `from` field."
          type: string
        summary:
          description: "This is a summary of your email. Max length: 70."
          example: This is a summary.
          maxLength: 70
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-email
          type: string
      required:
      - content
      - from
      - subject
      - to
      type: object
    Error:
      properties:
        status:
          description: "HTTP status code, [RFC 7231, Section 6](https://datatracker.ietf.org/doc/html/rfc7231#section-6).\
            \ It conveys the HTTP status code used for the convenience of the consumer."
          example: 404
          format: int32
          pattern: "[45]\\d{2}"
          type: integer
        code:
          description: One of a server-defined error codes. Some `4xx` errors that
            could be handled programmatically include an error code that briefly explains
            the error reported.
          example: NOT_FOUND
          type: string
        message:
          description: A human-readable representation of the error. It is intended
            as an aid to developers and is not suitable for exposure to end users.
          example: The requested resource does not exist.
          type: string
        target:
          description: The target of the error.
          example: ""
          type: string
        docUrl:
          description: A URL to more information about the error.
          example: ""
          type: string
        requestId:
          description: Each API request has an associated request ID. It conveys the
            response header `YCloud-Request-ID` used for the convenience of the consumer.
          example: req_1KjtKI80IKoaJNa6n6p
          type: string
        whatsappApiError:
          $ref: '#/components/schemas/WhatsappApiError'
      required:
      - code
      - status
      type: object
    ErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      type: object
    Event:
      description: "Represents a webhook event payload.\nEvery event contains certain\
        \ common properties: `id`, `type`, `apiVersion`, `createTime`.\nEach event\
        \ may also contain some properties unique to the event. For example, `sms`\
        \ is returned when `type` is `sms.message.updated`."
      properties:
        id:
          description: Unique ID for the event.
          maxLength: 128
          minLength: 6
          type: string
        type:
          $ref: '#/components/schemas/EventType'
        apiVersion:
          description: The API version used to render this event.
          example: v2
          type: string
        createTime:
          description: "The time at which this event was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        emailDelivery:
          $ref: '#/components/schemas/EmailDelivery'
        sms:
          $ref: '#/components/schemas/Sms'
        smsInbound:
          $ref: '#/components/schemas/SmsInbound'
        voice:
          $ref: '#/components/schemas/Voice'
        whatsappBusinessAccount:
          $ref: '#/components/schemas/WhatsappBusinessAccount'
        whatsappInboundMessage:
          $ref: '#/components/schemas/WhatsappInboundMessage'
        whatsappMessage:
          $ref: '#/components/schemas/WhatsappMessage'
        whatsappPhoneNumber:
          $ref: '#/components/schemas/WhatsappPhoneNumber'
        whatsappTemplate:
          $ref: '#/components/schemas/WhatsappTemplate'
      required:
      - apiVersion
      - createTime
      - id
      - type
      type: object
    EventType:
      description: Type of event.
      enum:
      - email.delivery.updated
      - sms.message.updated
      - sms.inbound.received
      - voice.message.updated
      - whatsapp.business_account.deleted
      - whatsapp.business_account.reviewed
      - whatsapp.business_account.updated
      - whatsapp.inbound_message.received
      - whatsapp.message.updated
      - whatsapp.phone_number.deleted
      - whatsapp.phone_number.name_updated
      - whatsapp.phone_number.quality_updated
      - whatsapp.template.category_updated
      - whatsapp.template.quality_updated
      - whatsapp.template.reviewed
      type: string
      x-enum-descriptions:
      - "Occurs when an email delivery status is updated, and the status changes to\
        \ `delivered` or `failed`."
      - "Occurs when an SMS message status is updated, and the status changes to `delivered`\
        \ or `undelivered`."
      - "Occurs when an SMS inbound message is received, which means a user replies\
        \ to your message."
      - "Occurs when a voice message status is updated, and the status changes to\
        \ `delivered` or `undelivered`."
      - Occurs when a WhatsApp Business Account is deleted.
      - Occurs when a WhatsApp Business Account has been reviewed.
      - "Occurs when a policy violation happened, WhatsApp Business Account has been\
        \ banned and more."
      - Occurs when a WhatsApp inbound message is received.
      - "Occurs when a WhatsApp outbound message status is updated, and the status\
        \ changes to `sent`, `failed`, `delivered`, or `read`."
      - Occurs when a WhatsApp business phone number is deleted.
      - Occurs when a WhatsApp business phone number's name has been approved or rejected.
      - "Occurs when a WhatsApp business phone number's quality-related status is\
        \ updated, and the status changes to `GREEN`, `YELLOW`, or `RED`."
      - Occurs when a WhatsApp template category is updated.
      - Occurs when a WhatsApp template quality rating is updated.
      - "Occurs when a WhatsApp template status is updated, and the status changes\
        \ to `REJECTED`, `APPROVED`, `PAUSED`, `DISABLED`, or `IN_APPEAL`."
    Mailbox:
      description: Represents a mailbox.
      example:
        address: team@example.com
        name: Support Team
      properties:
        name:
          description: Name of the mailbox.
          example: Support Team
          type: string
        address:
          description: Address of the mailbox.
          example: team@example.com
          type: string
      type: object
    MetaBusinessAccountVerificationStatus:
      description: Current status of business verification of Meta Business Account
        which owns this WhatsApp Business Account.
      enum:
      - expired
      - failed
      - ineligible
      - not_verified
      - pending
      - pending_need_more_info
      - pending_submission
      - rejected
      - revoked
      - verified
      type: string
    Page:
      description: Represents a given page of items.
      properties:
        offset:
          description: "The position of the item this page starts from, zero-based.\
            \ e.g., the 11th item is at offset 10."
          format: int32
          minimum: 0
          type: integer
        limit:
          description: "A limit on the number of items to be returned, between 1 and\
            \ 100, defaults to 10."
          format: int32
          minimum: 1
          type: integer
        length:
          description: The actual number of items in the page.
          format: int32
          minimum: 0
          type: integer
        total:
          description: The total number of items. This field is returned only when
            the request parameter `includeTotal` is set to `true`.
          format: int32
          minimum: 0
          type: integer
        items:
          items:
            type: object
          type: array
      required:
      - length
      - limit
      - offset
      type: object
    PageCursor:
      description: A cursor object is returned only if the endpoint you requested
        supports cursor pagination.
      example:
        after: id:foo
      properties:
        after:
          description: "A cursor to fetch the next page in cursor pagination.\nFor\
            \ example, if you make a list request, receive 100 objects and `cursor.after=id:foo`,\
            \ your subsequent call can include `pageAfter=id:foo` in order to fetch\
            \ the next page of the list.\nThis field is returned only if there are\
            \ more items in the list."
          example: id:foo
          type: string
      type: object
    Sms:
      example:
        bizType: sms
        totalPrice: 0.0085
        totalSegments: 1
        errorCode: errorCode
        externalId: externalId
        updateTime: 2022-03-01T12:00:00Z
        senderId: Brand
        regionCode: GB
        createTime: 2022-03-01T12:00:00Z
        currency: USD
        callbackUrl: https://httpbin.org/anything?tag=api-sms
        id: id
        to: +447901614024
        text: Your verification code is 123456.
        verificationId: VERIFICATION-ID
        status: sent
      properties:
        id:
          description: Unique ID for the object.
          maxLength: 128
          minLength: 6
          type: string
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        text:
          description: The text of this message.
          example: Your verification code is 123456.
          type: string
        senderId:
          description: Sender ID to be used.
          example: Brand
          type: string
        regionCode:
          description: "[ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
          example: GB
          type: string
        totalSegments:
          description: "Number of message segments. See [SMS character encoding](https://help.ycloud.com/en/articles/3083427-sms-character-encoding)\
            \ for more info."
          example: 1
          format: int32
          minimum: 1
          type: integer
        totalPrice:
          description: Total price of this message.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        status:
          description: "Delivery status. One of `accepted`, `sent`, `delivered`, `undelivered`,\
            \ or `failed`.\n- `accepted`: The messaging request is accepted by our\
            \ system.\n- `failed`: The message failed to be sent from our system.\n\
            - `sent`: The message has been sent from our system.\n- `delivered`: Our\
            \ system has received a delivery receipt indicating that message is delivered.\n\
            - `undelivered`: Our system has received a delivery receipt indicating\
            \ that message is not delivered."
          enum:
          - accepted
          - failed
          - sent
          - delivered
          - undelivered
          example: sent
          type: string
        errorCode:
          description: Error code when the message is undeliverable.
          type: string
        createTime:
          description: "The time at which this message was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        updateTime:
          description: "The time at which the delivery report for this message was\
            \ updated, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-03-01T12:00:00.000Z`."
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
        callbackUrl:
          description: "Delivery report URL. You can provide a URL, and we will push\
            \ the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.\n\
            Note: We recommend configuring Webhook Endpoints instead."
          example: https://httpbin.org/anything?tag=api-sms
          type: string
        bizType:
          description: "This can be either empty or one of `sms`, or `verify`. Defaults\
            \ to `sms`.\n- `sms`: Indicates that the message is sent via the **SMS**\
            \ product.\n- `verify`: Indicates that the message is sent via the **Verify**\
            \ product."
          example: sms
          type: string
        verificationId:
          description: The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
          type: string
      required:
      - id
      - to
      type: object
    SmsInbound:
      description: "Represents an inbound SMS message, which means a user replies\
        \ to your message."
      properties:
        id:
          description: Unique ID of the message.
          type: string
        from:
          description: "The user's phone number who sent the message to your registered\
            \ sender ID, formatted in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +447901614024
          type: string
        to:
          description: "The receiver's phone number, which is one of your registered\
            \ Sender IDs."
          type: string
        text:
          description: The text of this message.
          type: string
        sendTime:
          description: "The time at which this message was sent, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
      type: object
    SmsPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of SMS messages.
      example:
        items:
        - bizType: sms
          totalPrice: 0.0085
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          updateTime: 2022-03-01T12:00:00Z
          senderId: Brand
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-sms
          id: id
          to: +447901614024
          text: Your verification code is 123456.
          verificationId: VERIFICATION-ID
          status: sent
        - bizType: sms
          totalPrice: 0.0085
          totalSegments: 1
          errorCode: errorCode
          externalId: externalId
          updateTime: 2022-03-01T12:00:00Z
          senderId: Brand
          regionCode: GB
          createTime: 2022-03-01T12:00:00Z
          currency: USD
          callbackUrl: https://httpbin.org/anything?tag=api-sms
          id: id
          to: +447901614024
          text: Your verification code is 123456.
          verificationId: VERIFICATION-ID
          status: sent
      properties:
        items:
          description: An array containing SMS objects.
          items:
            $ref: '#/components/schemas/Sms'
          type: array
      type: object
    UnsubscriberPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of unsubscriber objects.
      example:
        cursor:
          after: id:foo
        items:
        - regionCode: GB
          createTime: 2022-06-01T12:00:00Z
          channel: null
          type: null
          customer: +447901614024
        - regionCode: GB
          createTime: 2022-06-01T12:00:00Z
          channel: null
          type: null
          customer: +447901614024
      properties:
        items:
          description: An array containing unsubscriber objects.
          items:
            $ref: '#/components/schemas/Unsubscriber'
          type: array
        cursor:
          $ref: '#/components/schemas/PageCursor'
      type: object
    Verification:
      example:
        smsFallback:
          unsupportedReason: SENDER_ID_UNAVAILABLE
          unsupportedDetail: This Sender ID is not registered.
          supported: true
        totalPrice: 0.0085
        smsFallbackEnabled: true
        channel: sms
        externalId: externalId
        currency: USD
        id: ve6j7n8i
        to: +447901614024
        status: null
        sendTime: 2022-06-01T12:00:00Z
      properties:
        id:
          description: ID of the verification.
          example: ve6j7n8i
          type: string
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          description: Recipient of the verification.
          example: +447901614024
          type: string
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        sendTime:
          description: "The time at which this verification was sent, formatted in\
            \ [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        totalPrice:
          description: Total price of this verification.
          example: 0.0085
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
        smsFallbackEnabled:
          description: "Whether sms fallback is enabled or not.\nApplicable when `channel`\
            \ is `whatsapp`. If enabled, we will try to send the verification code\
            \ via sms when the WhatsApp message is failed."
          type: boolean
        smsFallback:
          $ref: '#/components/schemas/VerificationFallback'
        externalId:
          description: "A unique string to reference the object. This can be an order\
            \ number or similar, and can be used to reconcile the object with your\
            \ internal systems."
          type: string
      required:
      - id
      type: object
    VerificationChannel:
      description: "Supports several independent channels for verification:\n- `sms`:\
        \ Sends an SMS message with a verification code.\n- `voice`: Makes a voice\
        \ call with a verification code.\n- `email_code`: Sends an email with a verification\
        \ code.\n- `whatsapp`: Sends a WhatsApp message with a verification code."
      enum:
      - sms
      - voice
      - email_code
      - whatsapp
      example: sms
      type: string
    VerificationCheck:
      example:
        valid: false
        channel: sms
        id: vc8f92c20
        to: +447901614024
        status: null
      properties:
        id:
          description: ID of this verification check.
          example: vc8f92c20
          type: string
        valid:
          description: Whether the verification code is valid for this check.
          example: false
          type: boolean
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          description: "The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format or email address."
          example: +447901614024
          type: string
        channel:
          $ref: '#/components/schemas/VerificationChannel'
      required:
      - id
      - valid
      type: object
    VerificationCheckRequest:
      example:
        code: "123456"
        to: +447901614024
        verificationId: vid
      properties:
        verificationId:
[...]
