openapi: 3.0.0
info:
  contact:
    email: service@ycloud.com
  description: "The [YCloud](https://ycloud.com) API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer).\
    \ Our API is designed to have predictable, resource-oriented URLs, return [JSON](https://www.json.org)\
    \ responses, and use standard HTTP response codes and verbs."
  termsOfService: https://ycloud.com/terms-service
  title: YCloud API
  version: v2
externalDocs:
  description: Homepage
  url: https://ycloud.com
servers:
- description: Base URL
  url: https://api.ycloud.com/v2
security:
- api_key: []
tags:
- name: Balance
- name: Contacts
- name: Custom Events
- name: Emails
- name: SMS
- name: Unsubscribers
- name: Verify
- name: Voices
- name: Webhook Endpoints
- name: WhatsApp Business Accounts
- name: WhatsApp Inbound Messages
- name: WhatsApp Media
- name: WhatsApp Messages
- name: WhatsApp Calling
- name: WhatsApp Phone Numbers
- name: WhatsApp Templates
- name: WhatsApp Flows
paths:
  /balance:
    get:
      description: Retrieves the current account balance.
      operationId: balance-retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
          description: Successfully retrieved balance.
      summary: Retrieve balance
      tags:
      - Balance
      x-accepts: application/json
  /contact/contacts:
    get:
      description: Returns a paginated list of contacts.
      operationId: contact-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Comma-separated list of tags.
        explode: true
        in: query
        name: filter.tags
        required: false
        schema:
          example: "tag1,tag2"
          type: string
        style: form
      - description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
          \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
        explode: true
        in: query
        name: filter.countryCode
        required: false
        schema:
          example: US
          type: string
        style: form
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: true
        in: query
        name: filter.phoneNumber
        required: false
        schema:
          example: +16315551111
          type: string
        style: form
      - description: The contact's email address.
        explode: true
        in: query
        name: filter.email
        required: false
        schema:
          example: support@example.com
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List contacts
      tags:
      - Contacts
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a contact.
      operationId: contact-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully created a contact.
      summary: Create a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /contact/contacts/{id}:
    delete:
      description: Deletes a contact.
      operationId: contact-delete
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1693364594105000026"
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully deleted the contact.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a contact
      tags:
      - Contacts
      x-accepts: application/json
    get:
      description: Retrieves a contact.
      operationId: contact-retrieve
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1693364594105000026"
          maxLength: 255
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully retrieved the contact.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a contact
      tags:
      - Contacts
      x-accepts: application/json
    patch:
      description: Updates a contact.
      operationId: contact-update
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: "1693364594105000026"
          maxLength: 255
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
          description: Successfully updated the contact.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a contact
      tags:
      - Contacts
      x-content-type: application/json
      x-accepts: application/json
  /contact/contacts/attributes:
    get:
      description: Returns a list of all available contact attributes and their configurations.
      operationId: contact-attributes-list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactAttribute'
                type: array
          description: Successfully retrieved contact attributes.
      summary: List contact attributes
      tags:
      - Contacts
      x-accepts: application/json
  /event/definitions:
    post:
      description: Creates a custom event definition.
      operationId: custom_events-create-definition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinition'
          description: Successfully created an event definition.
      summary: Create an event definition
      tags:
      - Custom Events
      x-content-type: application/json
      x-accepts: application/json
  /event/definitions/{name}:
    get:
      description: Retrieves a custom event definition you previously created.
      operationId: custom_events-retrieve-definition
      parameters:
      - description: Name of the custom event.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: unique_event_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinition'
          description: Successfully retrieved the event definition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve an event definition
      tags:
      - Custom Events
      x-accepts: application/json
    patch:
      description: Updates an event definition's label and description.
      operationId: custom_events-update-definition
      parameters:
      - description: Name of the custom event.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: unique_event_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinition'
          description: Successfully updated the event definition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update an event definition
      tags:
      - Custom Events
      x-content-type: application/json
      x-accepts: application/json
  /event/definitions/{name}/properties:
    post:
      description: Defines a new property for the event definition.
      operationId: custom_events-create-property-definition
      parameters:
      - description: Name of the custom event.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: unique_event_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionPropertyCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinitionProperty'
          description: Successfully created an event property.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Create an event property definition
      tags:
      - Custom Events
      x-content-type: application/json
      x-accepts: application/json
  /event/definitions/{name}/properties/{propertyName}:
    delete:
      description: Deletes a property of the event definition.
      operationId: custom_events_delete-property-definition
      parameters:
      - description: Name of the custom event.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: unique_event_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      - description: Name of the custom event property.
        explode: false
        in: path
        name: propertyName
        required: true
        schema:
          example: unique_property_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      responses:
        "200":
          description: Successfully deleted the event property definition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete an event property definition
      tags:
      - Custom Events
      x-accepts: application/json
    patch:
      description: Updates an event property definition's label and description.
      operationId: custom_events_update-property-definition
      parameters:
      - description: Name of the custom event.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: unique_event_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      - description: Name of the custom event property.
        explode: false
        in: path
        name: propertyName
        required: true
        schema:
          example: unique_property_name
          pattern: "[a-z0-9_]{1,50}"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionPropertyUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinitionProperty'
          description: Successfully updated the event property definition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update an event property definition
      tags:
      - Custom Events
      x-content-type: application/json
      x-accepts: application/json
  /event/events:
    post:
      description: Sends an event.
      operationId: custom_events-send-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventSendRequest'
        required: true
      responses:
        "200":
          description: Successfully sent the event.
      summary: Send an event
      tags:
      - Custom Events
      x-content-type: application/json
      x-accepts: application/json
  /emails:
    post:
      description: Sends an outbound email message.
      operationId: email-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
          description: The request is successfully accepted.
      summary: Send an email
      tags:
      - Emails
      x-content-type: application/json
      x-accepts: application/json
  /sms:
    get:
      description: Returns a paginated list of SMS messages you've previously sent.
      operationId: sms-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List SMS records
      tags:
      - SMS
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound text message.
      operationId: sms-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
        description: SMS request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sms'
          description: The request is successfully accepted.
      summary: Send an SMS
      tags:
      - SMS
      x-content-type: application/json
      x-accepts: application/json
  /unsubscribers:
    get:
      description: Returns a paginated list of unsubscribers.
      operationId: unsubscriber-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "A cursor to fetch the next page in cursor pagination.\nFor example,\
          \ if you make a list request, receive 100 objects and `cursor.after=id:foo`,\
          \ your subsequent call can include `pageAfter=id:foo` in order to fetch\
          \ the next page of the list."
        explode: true
        in: query
        name: pageAfter
        required: false
        schema:
          example: id:foo
          type: string
        style: form
      - explode: true
        in: query
        name: filter.customer
        required: false
        schema:
          description: The customer who has opted out.
          example: +16315551111
          type: string
        style: form
      - explode: true
        in: query
        name: filter.channel
        required: false
        schema:
          $ref: '#/components/schemas/UnsubscriberChannel'
        style: form
      - explode: true
        in: query
        name: filter.regionCode
        required: false
        schema:
          description: "Region code, formatted in [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscriberPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List unsubscribers
      tags:
      - Unsubscribers
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: |-
        Creates an unsubscriber.
        An unsubscriber is a configuration item representing that customers opt out of receiving messages from your business.
        **A customer and a channel form a unique identifier for an unsubscriber.**
      operationId: unsubscriber-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnsubscriberCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
          description: Successfully created an unsubscriber.
      summary: Create an unsubscriber
      tags:
      - Unsubscribers
      x-content-type: application/json
      x-accepts: application/json
  /unsubscribers/{customer}:
    get:
      description: Returns all unsubscribers for the specified customer.
      operationId: unsubscriber-list-all-by-customer
      parameters:
      - description: The customer who has opted out.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Unsubscriber'
                type: array
          description: Successfully retrieved the unsubscribers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: List all unsubscribers by customer
      tags:
      - Unsubscribers
      x-accepts: application/json
  /unsubscribers/{customer}/{channel}:
    delete:
      description: Deletes the unsubscriber for the specified customer and channel.
      operationId: unsubscriber-delete-by-customer-and-channel
      parameters:
      - description: The customer who has opted out.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      - explode: false
        in: path
        name: channel
        required: true
        schema:
          $ref: '#/components/schemas/UnsubscriberChannel'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
          description: Successfully deleted the unsubscriber.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete an unsubscriber
      tags:
      - Unsubscribers
      x-accepts: application/json
    get:
      description: Retrieves the unsubscriber for the specified customer and channel.
      operationId: unsubscriber-retrieve-by-customer-and-channel
      parameters:
      - description: The customer who has opted out.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      - explode: false
        in: path
        name: channel
        required: true
        schema:
          $ref: '#/components/schemas/UnsubscriberChannel'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
          description: Successfully retrieved the unsubscribers.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve an unsubscriber
      tags:
      - Unsubscribers
      x-accepts: application/json
  /verify/verifications:
    post:
      description: "Starts a verification by sending an SMS, voice, or email message\
        \ to the recipient.\nThis verification is charged once the message is sent\
        \ successfully."
      operationId: verification-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationSendRequest'
        description: Verification request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verification'
          description: The request is successfully accepted.
      summary: Start a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /verify/verificationChecks:
    post:
      description: "Checks a verification with a phone number, an email address, or\
        \ a verification ID.\nA `pending` verification status changes to `approved`\
        \ once you receive a response with the `valid` parameter is `true`. An approved\
        \ verification cannot be checked anymore."
      operationId: verification-check
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCheck'
          description: Successfully processed the verification check.
      summary: Check a verification
      tags:
      - Verify
      x-content-type: application/json
      x-accepts: application/json
  /voices:
    get:
      description: Returns a paginated list of voice calls you've previously sent.
      operationId: voice-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Return results where the `createTime` field is greater than\
          \ or equal to this value. Default: One day ago from now."
        explode: true
        in: query
        name: filter.createTime.gte
        required: false
        schema:
          example: 2022-03-01T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Return results where the `createTime` field is less than or equal
          to this value.
        explode: true
        in: query
        name: filter.createTime.lte
        required: false
        schema:
          example: 2022-03-31T12:00:00Z
          format: date-time
          type: string
        style: form
      - description: Unique object ID on our side. Other filter parameters will be
          ignored if this parameter is present.
        explode: true
        in: query
        name: filter.id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List voice records
      tags:
      - Voices
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Sends an outbound voice call verification code.
      operationId: voice-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSendRequest'
        description: Voice call request that needs to be sent.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
          description: The request is successfully accepted.
      summary: Send a voice code
      tags:
      - Voices
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints:
    get:
      description: Returns a paginated list of webhook endpoints.
      operationId: webhook_endpoint-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List webhook endpoints
      tags:
      - Webhook Endpoints
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a webhook endpoint listening for specific events.
      operationId: webhook_endpoint-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully created a webhook endpoint.
      summary: Create a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}:
    delete:
      description: Deletes a webhook endpoint.
      operationId: webhook_endpoint-delete
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully deleted the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    get:
      description: Retrieves the webhook endpoint with the given ID.
      operationId: webhook_endpoint-retrieve
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully retrieved the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a webhook endpoint
      tags:
      - Webhook Endpoints
      x-accepts: application/json
    patch:
      description: "Updates a webhook endpoint, such as url, events, status."
      operationId: webhook_endpoint-update
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully updated the webhook endpoint.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a webhook endpoint
      tags:
      - Webhook Endpoints
      x-content-type: application/json
      x-accepts: application/json
  /webhookEndpoints/{id}/rotateSecret:
    post:
      description: Generates a new secret for a webhook endpoint.
      operationId: webhook_endpoint-rotate-secret
      parameters:
      - description: ID of the webhook endpoint.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: wh627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
          description: Successfully rotated the webhook endpoint secret.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Rotate a webhook endpoint secret
      tags:
      - Webhook Endpoints
      x-accepts: application/json
  /whatsapp/businessAccounts:
    get:
      description: Returns a paginated list of WhatsApp business accounts you've registered.
      operationId: whatsapp_business_account-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: WhatsApp Business Account review status.
        explode: true
        in: query
        name: filter.accountReviewStatus
        required: false
        schema:
          example: APPROVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccountPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List WABAs
      tags:
      - WhatsApp Business Accounts
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/businessAccounts/{id}:
    get:
      description: Retrieves a WABA you've registered.
      operationId: whatsapp_business_account-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccount'
          description: Successfully retrieved the WABA.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a WABA
      tags:
      - WhatsApp Business Accounts
      x-accepts: application/json
  /whatsapp/inboundMessages/{id}/markAsRead:
    post:
      description: "When you receive an inbound message from webhooks, you can use\
        \ this endpoint to mark the message as read. Messages marked as read display\
        \ two blue check marks alongside their timestamp.\n\nMarking a message as\
        \ read will also mark earlier messages in the conversation as read."
      operationId: whatsapp_inbound_message-mark-as-read
      parameters:
      - description: "ID of the message.\n\nA wamid (i.e., the original message ID\
          \ on WhatsApp's platform) is also acceptable."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          description: Successfully marked the message as read.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Mark message as read
      tags:
      - WhatsApp Inbound Messages
      x-accepts: application/json
  /whatsapp/inboundMessages/{id}/typingIndicator:
    post:
      description: "When you receive an inbound message from webhooks, you can use\
        \ this endpoint to mark the message as read and display a typing indicator\
        \ so the WhatsApp user knows you are preparing a response.\nMessages marked\
        \ as read display two blue check marks alongside their timestamp.The typing\
        \ indicator will be dismissed once you respond, or after 25 seconds, whichever\
        \ comes first. To prevent a poor user experience, only display a typing indicator\
        \ if you are going to respond.\n\nMarking a message as read will also mark\
        \ earlier messages in the conversation as read."
      operationId: whatsapp_inbound_message-typing-indicator
      parameters:
      - description: "ID of the message.\n\nA wamid (i.e., the original message ID\
          \ on WhatsApp's platform) is also acceptable."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          description: Successfully marked the message as read.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Mark message as read and display a typing indicator
      tags:
      - WhatsApp Inbound Messages
      x-accepts: application/json
  /whatsapp/media/{phoneNumber}/upload:
    post:
      description: "Uploads media that can later be sent in WhatsApp messages. This\
        \ endpoint interfaces with Meta's WhatsApp Business API media endpoints. All\
        \ media files sent through this endpoint are encrypted and persist for 30\
        \ days.\n\nFor supported media types and size limitations, please refer to\
        \ [Supported Media Types](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media#supported-media-types).\n\
        \nFor more information, refer to [Meta's WhatsApp Cloud API Media documentation](https://developers.facebook.com/docs/whatsapp/cloud-api/reference/media).\n\
        \nNote that all interactive messages cannot send images, documents, videos,\
        \ or audio using a Media ID in the header section. These elements must be\
        \ sent using a link."
      operationId: whatsapp_media-upload
      parameters:
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format to use for the upload."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/whatsapp_media_upload_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_media_upload_200_response'
          description: Successfully uploaded the media.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. The file may be invalid or exceed size limits.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Upload media
      tags:
      - WhatsApp Media
      x-content-type: multipart/form-data
      x-accepts: application/json
  /whatsapp/messages/sendDirectly:
    post:
      description: |-
        Sends an outbound WhatsApp message directly.

        The message is submitted to the WhatsApp Business API synchronously. Typically used for sending OTP and instant messages.

        The response body field `error.whatsappApiError` is included if we tried to request the WhatsApp Business API and got an error response.
      operationId: whatsapp_message-send-directly
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Send a message directly
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages:
    post:
      description: |-
        Enqueues an outbound WhatsApp message for sending.

        Queued messages will be submitted to the WhatsApp Business API asynchronously.
      operationId: whatsapp_message-send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: The request is successfully accepted.
      summary: Enqueue a message
      tags:
      - WhatsApp Messages
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/messages/{id}:
    get:
      description: Retrieves a WhatsApp message you've previously sent.
      operationId: whatsapp_message-retrieve
      parameters:
      - description: ID of the object.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 627c8640675de8fc689ab9d9
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a message
      tags:
      - WhatsApp Messages
      x-accepts: application/json
  /whatsapp/calls/connect:
    post:
      description: |-
        Initiates a WhatsApp call connection.

        Establishes the initial connection for a WhatsApp call by providing SDP offer information.
        This endpoint is used for business-initiated calling scenarios.
      operationId: whatsapp_call-connect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCallingConnectRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCallingResponse'
          description: The call connection request is successfully accepted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid request parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Connect a call
      tags:
      - WhatsApp Calling
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/calls/preAccept:
    post:
      description: |-
        Pre-accepts an inbound WhatsApp call.

        Pre-accepting calls allows the calling media connection to be established before
        attempting to send call media through the connection. This facilitates faster
        connection times and avoids audio clipping issues.
      operationId: whatsapp_call-pre-accept
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCallingPreAcceptRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCallingResponse'
          description: The call pre-accept request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid request parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Pre-accept a call
      tags:
      - WhatsApp Calling
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/calls/accept:
    post:
      description: "Accepts an inbound WhatsApp call.\n\nOnce the WebRTC connection\
        \ is made, this endpoint is used to accept the call.\nMedia will begin flowing\
        \ immediately since the connection was established prior to call connect."
      operationId: whatsapp_call-accept
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCallingPreAcceptRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCallingResponse'
          description: The call accept request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid request parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Accept a call
      tags:
      - WhatsApp Calling
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/calls/terminate:
    post:
      description: |-
        Terminates an active WhatsApp call.

        Both the business or the WhatsApp user can terminate the call at any time.
        This endpoint is used by the business to end the call.
      operationId: whatsapp_call-terminate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCallingTerminateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCallingResponse'
          description: The call termination request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid request parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Terminate a call
      tags:
      - WhatsApp Calling
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/calls/reject:
    post:
      description: |-
        Rejects an inbound WhatsApp call.

        This endpoint is used to reject an incoming call from a WhatsApp user.
        The call will be terminated on the WhatsApp user side with appropriate notification.
      operationId: whatsapp_call-reject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCallingTerminateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCallingResponse'
          description: The call rejection request is successfully processed.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid request parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Reject a call
      tags:
      - WhatsApp Calling
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/phoneNumbers:
    get:
      description: Returns a paginated list of WhatsApp business phone numbers you've
        registered.
      operationId: whatsapp_phone_number-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |-
          **Required if you have more than 100 WABAs.**
          WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberPage'
          description: Successfully retrieved a paginated list of objects.
      summary: List phone numbers
      tags:
      - WhatsApp Phone Numbers
      x-group-parameters: true
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}:
    get:
      description: Retrieves a WhatsApp business phone number you've registered.
      operationId: whatsapp_phone_number-retrieve
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a phone number
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/profile:
    get:
      description: Retrieves a WhatsApp business phone number's profile. Customers
        can view your business profile by clicking your business's name or number
        in a conversation thread.
      operationId: whatsapp_phone_number-retrieve-profile
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a phone number profile
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
    patch:
      description: Updates a WhatsApp business phone number profile.
      operationId: whatsapp_phone_number-update-profile
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberProfileUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
          description: Successfully updated the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update a phone number profile
      tags:
      - WhatsApp Phone Numbers
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/whatsappCommerceSettings:
    get:
      description: Retrieves a WhatsApp business phone number's commerce settings.
      operationId: whatsapp_phone_number-retrieve-commerce-settings
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommerceSettings'
          description: Successfully retrieved the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve commerce settings
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
    patch:
      description: |-
        Updates a WhatsApp business phone number's commerce settings.
        Use this endpoint to enable or disable the shopping cart or the product catalog for a specific business phone number.
      operationId: whatsapp_phone_number-update-commerce-settings
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +16315551111
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCommerceSettingsUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommerceSettings'
          description: Successfully updated the object.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Update commerce settings
      tags:
      - WhatsApp Phone Numbers
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/register:
    post:
      description: Registers a WhatsApp business phone number.
      operationId: whatsapp_phone_number-register
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Phone number ID.
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: "1234567890123456"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Successfully registered the phone number.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Register a phone number
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/settings:
    get:
      description: Retrieves phone number specific settings.
      operationId: whatsapp_phone_number-retrieve-settings
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +6283138205170
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                calling:
                  id: "19213232132"
                  status: ENABLED
                  iconVisibility: DEFAULT
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberSettings'
          description: Successfully retrieved the phone number settings.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve phone number settings
      tags:
      - WhatsApp Phone Numbers
      x-accepts: application/json
    post:
      description: Saves phone number specific settings.
      operationId: whatsapp_phone_number-save-settings
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: "Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
          \ format."
        explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          example: +6283138205150
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              calling:
                status: ENABLED
                iconVisibility: DEFAULT
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberSettings'
        description: Phone number settings to save.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                calling:
                  id: "19213232132"
                  status: ENABLED
                  iconVisibility: DEFAULT
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberSettings'
          description: Successfully saved the phone number settings.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Save phone number settings
      tags:
      - WhatsApp Phone Numbers
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/templates:
    get:
      description: Returns a paginated list of WhatsApp templates you've previously
        created.
      operationId: whatsapp_template-list
      parameters:
      - description: "Page number of the results to be returned, 1-based."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "A limit on the number of results to be returned, or number of\
          \ results per page, between 1 and 100, defaults to 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Return results inside an object that contains the total result
          count or not.
        explode: true
        in: query
        name: includeTotal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |-
          **Required if you have more than 100 WABAs.**
          WhatsApp Business Account ID.
        explode: true
        in: query
        name: filter.wabaId
        required: false
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      - description: Name of the template.
        explode: true
        in: query
        name: filter.name
        required: false
        schema:
          example: sample_whatsapp_template
          maxLength: 512
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: form
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: true
        in: query
        name: filter.language
        required: false
        schema:
          example: en_US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplatePage'
          description: Successfully retrieved a paginated list of objects.
      summary: List templates
      tags:
      - WhatsApp Templates
      x-group-parameters: true
      x-accepts: application/json
    post:
      description: Creates a WhatsApp template.
      operationId: whatsapp_template-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully created a WhatsApp template.
      summary: Create a template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}:
    delete:
      description: "Deletes WhatsApp templates by name. If that template name exists\
        \ in multiple languages, all languages will be deleted.\nHTTP status `404`\
        \ is returned if no templates are found for the specific name."
      operationId: whatsapp_template-delete-by-name
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WhatsappTemplate'
                type: array
          description: Successfully deleted the template(s).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete templates by name
      tags:
      - WhatsApp Templates
      x-accepts: application/json
  /whatsapp/templates/{wabaId}/{name}/{language}:
    delete:
      description: Deletes a WhatsApp template by name and language.
      operationId: whatsapp_template-delete-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en_US
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully deleted the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Delete a template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    get:
      description: Retrieves a WhatsApp template by name and language.
      operationId: whatsapp_template-retrieve-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en_US
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully retrieved the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Retrieve a template
      tags:
      - WhatsApp Templates
      x-accepts: application/json
    patch:
      description: "Edits a WhatsApp template by name and language.\nEditing a template\
        \ replaces its old contents entirely, so include any components you wish to\
        \ preserve as well as components you wish to update using the components parameter."
      operationId: whatsapp_template-edit-by-name-and-language
      parameters:
      - description: WhatsApp Business Account ID.
        explode: false
        in: path
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: simple
      - description: Name of the template.
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: sample_whatsapp_template
          maximum: 512
          minimum: 1
          pattern: "[a-z0-9]{1,512}"
          type: string
        style: simple
      - description: "Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages)\
          \ for all codes."
        explode: false
        in: path
        name: language
        required: true
        schema:
          example: en_US
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateEditRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
          description: Successfully edited the template.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The requested resource does not exist.
      summary: Edit a template
      tags:
      - WhatsApp Templates
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/flows:
    get:
      description: Returns a list of WhatsApp Flows under a WhatsApp Business Account
        (WABA).
      operationId: whatsapp_flow-list
      parameters:
      - description: WhatsApp Business Account ID.
        explode: true
        in: query
        name: wabaId
        required: true
        schema:
          example: whatsapp-business-account-id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_list_200_response'
          description: Successfully retrieved the list of flows.
      summary: List flows
      tags:
      - WhatsApp Flows
      x-accepts: application/json
    post:
      description: Creates a new WhatsApp Flow. New Flows are by default created in
        DRAFT state. You can create a new published Flow in single request by specifying
        flowJson and publish parameters.
      operationId: whatsapp_flow-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/whatsapp_flow_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_create_200_response'
          description: Successfully created a flow.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_create_400_response'
          description: Bad request. The Flow may be invalid.
      summary: Create a flow
      tags:
      - WhatsApp Flows
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/flows/{flowId}/metadata:
    patch:
      description: Updates a WhatsApp Flow's metadata (name or categories).
      operationId: whatsapp_flow-update-metadata
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/whatsapp_flow_update_metadata_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_update_metadata_200_response'
          description: Successfully updated the flow metadata.
      summary: Update flow metadata
      tags:
      - WhatsApp Flows
      x-content-type: application/json
      x-accepts: application/json
  /whatsapp/flows/{flowId}/assets:
    patch:
      description: Updates a WhatsApp Flow's structure. Note that the file must be
        attached as form-data.
      operationId: whatsapp_flow-update-structure
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/whatsapp_flow_update_structure_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_update_metadata_200_response'
          description: Successfully updated the flow structure.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_create_400_response'
          description: Bad request. The Flow structure may be invalid.
      summary: Update flow structure
      tags:
      - WhatsApp Flows
      x-content-type: multipart/form-data
      x-accepts: application/json
  /whatsapp/flows/{flowId}:
    delete:
      description: Deletes a WhatsApp Flow. Only Flows in DRAFT status can be deleted.
      operationId: whatsapp_flow-delete
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_update_metadata_200_response'
          description: Successfully deleted the flow.
      summary: Delete a flow
      tags:
      - WhatsApp Flows
      x-accepts: application/json
    get:
      description: Retrieves a WhatsApp Flow's details.
      operationId: whatsapp_flow-retrieve
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappFlow'
          description: Successfully retrieved the flow.
      summary: Retrieve a flow
      tags:
      - WhatsApp Flows
      x-accepts: application/json
  /whatsapp/flows/{flowId}/publish:
    post:
      description: "Updates the status of the Flow to \"PUBLISHED\". You can either\
        \ edit this flow in the future and turn it back to the \"DRAFT\" state, or\
        \ create a new flow by specifying the existing Flow ID as the cloneFlowId\
        \ parameter."
      operationId: whatsapp_flow-publish
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_update_metadata_200_response'
          description: Successfully published the flow.
      summary: Publish a flow
      tags:
      - WhatsApp Flows
      x-accepts: application/json
  /whatsapp/flows/{flowId}/deprecate:
    post:
      description: "Marks a published Flow as deprecated. Once a Flow is published,\
        \ it cannot be modified or deleted, but can be marked as deprecated."
      operationId: whatsapp_flow-deprecate
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/whatsapp_flow_update_metadata_200_response'
          description: Successfully deprecated the flow.
      summary: Deprecate a flow
      tags:
      - WhatsApp Flows
      x-accepts: application/json
  /whatsapp/flows/{flowId}/preview:
    get:
      description: "In order to visualize the Flows created, you can generate a web\
        \ preview URL with this request. **The preview URL is public and can be shared\
        \ with different stakeholders to visualize the Flow.**."
      operationId: whatsapp_flow-preview
      parameters:
      - description: Flow ID.
        explode: false
        in: path
        name: flowId
        required: true
        schema:
          example: flow-1
          type: string
        style: simple
      - description: "the link will expire in 30 days in default, or if you set with\
          \ invalidate=true which will generate a new link."
        explode: true
        in: query
        name: invalidate
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappFlowPreviewUrl'
          description: Successfully generate the flow preview url.
      summary: generate a web preview URL with this flow.
      tags:
      - WhatsApp Flows
      x-accepts: application/json
components:
  parameters:
    channel-in_path_for_unsubscriber:
      explode: false
      in: path
      name: channel
      required: true
      schema:
        $ref: '#/components/schemas/UnsubscriberChannel'
      style: simple
    customer-in_path_for_unsubscriber:
      description: The customer who has opted out.
      explode: false
      in: path
      name: customer
      required: true
      schema:
        example: +16315551111
        type: string
      style: simple
    filter_createTime_gte-default_1d:
      description: "Return results where the `createTime` field is greater than or\
        \ equal to this value. Default: One day ago from now."
      explode: true
      in: query
      name: filter.createTime.gte
      required: false
      schema:
        example: 2022-03-01T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_createTime_lte:
      description: Return results where the `createTime` field is less than or equal
        to this value.
      explode: true
      in: query
      name: filter.createTime.lte
      required: false
      schema:
        example: 2022-03-31T12:00:00Z
        format: date-time
        type: string
      style: form
    filter_id:
      description: Unique object ID on our side. Other filter parameters will be ignored
        if this parameter is present.
      explode: true
      in: query
      name: filter.id
      required: false
      schema:
        type: string
      style: form
    filter_wabaId:
      description: |-
        **Required if you have more than 100 WABAs.**
        WhatsApp Business Account ID.
      explode: true
      in: query
      name: filter.wabaId
      required: false
      schema:
        example: whatsapp-business-account-id
        type: string
      style: form
    filter_accountReviewStatus-WABA:
      description: WhatsApp Business Account review status.
      explode: true
      in: query
      name: filter.accountReviewStatus
      required: false
      schema:
        example: APPROVED
        type: string
      style: form
    id-in_path:
      description: ID of the object.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: 627c8640675de8fc689ab9d9
        type: string
      style: simple
    id-in_path_for_webhook_endpoint:
      description: ID of the webhook endpoint.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: wh627c8640675de8fc689ab9d9
        type: string
      style: simple
    id-in_path_for_contact:
      description: ID of the contact.
      explode: false
      in: path
      name: id
      required: true
      schema:
        example: "1693364594105000026"
        maxLength: 255
        type: string
      style: simple
    includeTotal:
      description: Return results inside an object that contains the total result
        count or not.
      explode: true
      in: query
      name: includeTotal
      required: false
      schema:
        default: false
        type: boolean
      style: form
    limit:
      description: "A limit on the number of results to be returned, or number of\
        \ results per page, between 1 and 100, defaults to 10."
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 10
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    page:
      description: "Page number of the results to be returned, 1-based."
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      style: form
    pageAfter:
      description: "A cursor to fetch the next page in cursor pagination.\nFor example,\
        \ if you make a list request, receive 100 objects and `cursor.after=id:foo`,\
        \ your subsequent call can include `pageAfter=id:foo` in order to fetch the\
        \ next page of the list."
      explode: true
      in: query
      name: pageAfter
      required: false
      schema:
        example: id:foo
        type: string
      style: form
    wabaId-in_path:
      description: WhatsApp Business Account ID.
      explode: false
      in: path
      name: wabaId
      required: true
      schema:
        example: whatsapp-business-account-id
        type: string
      style: simple
    name-in_path_for_custom_event:
      description: Name of the custom event.
      explode: false
      in: path
      name: name
      required: true
      schema:
        example: unique_event_name
        pattern: "[a-z0-9_]{1,50}"
        type: string
      style: simple
    name-in_path_for_custom_event_property:
      description: Name of the custom event property.
      explode: false
      in: path
      name: propertyName
      required: true
      schema:
        example: unique_property_name
        pattern: "[a-z0-9_]{1,50}"
        type: string
      style: simple
  schemas:
    Balance:
      example:
        amount: 190.0765
        currency: USD
      properties:
        amount:
          description: Balance of current account.
          example: 190.0765
          format: double
          type: number
        currency:
          description: "Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217)."
          example: USD
          type: string
      required:
      - amount
      - currency
      type: object
    Contact:
      description: Represents a contact.
      example:
        sourceId: batch_import_123
        tags:
        - tags
        - tags
        - tags
        - tags
        - tags
        ownerEmail: support@example.com
        sourceUrl: https://example.com/signup
        phoneNumber: +16315551111
        lastSeen: 2022-06-01T12:00:00Z
        createTime: 2022-06-01T12:00:00Z
        sourceType: API
        countryCode: US
        nickname: nickname
        lastMessageToPhoneNumber: +16315551111
        id: "1693364594105000026"
        countryName: countryName
        email: support@example.com
        customAttributes:
        - name: name
          value: "{}"
        - name: name
          value: "{}"
      properties:
        id:
          description: Unique ID for the object.
          example: "1693364594105000026"
          maxLength: 255
          type: string
        nickname:
          description: Contact's nickname.
          example: nickname
          type: string
        countryCode:
          description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
            \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: US
          type: string
        countryName:
          description: Full country name.
          type: string
        phoneNumber:
          description: "Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +16315551111
          type: string
        email:
          description: "The contact's email address.\nIf present, the email address\
            \ must be unique."
          example: support@example.com
          type: string
        lastSeen:
          description: "The time at which the contact last sent a message to your\
            \ business, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339).\
            \ e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        lastMessageToPhoneNumber:
          description: The business phone number that the contact last sent a message
            to.
          example: +16315551111
          type: string
        tags:
          description: Contact's tags.
          items:
            maxLength: 50
            type: string
          maxItems: 50
          type: array
        createTime:
          description: "The time at which the contact was created, formatted in [RFC\
            \ 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`."
          example: 2022-06-01T12:00:00Z
          format: date-time
          type: string
        customAttributes:
          description: Contact's custom attributes.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
          type: array
        ownerEmail:
          description: The email address of the contact's owner.
          example: support@example.com
          maxLength: 250
          type: string
        sourceType:
          $ref: '#/components/schemas/ContactSourceType'
        sourceId:
          description: Source identifier. A unique identifier related to the contact
            creation source.
          example: batch_import_123
          maxLength: 255
          type: string
        sourceUrl:
          description: Source URL. The source link address where the contact was created.
          example: https://example.com/signup
          maxLength: 500
          type: string
      required:
      - id
      type: object
    ContactCustomAttribute:
      example:
        name: name
        value: "{}"
      properties:
        name:
          description: Name of the attribute that you've previously defined.
          type: string
        value:
          description: "Value of the attribute.\nIts data type depends on the format\
            \ of the attribute you defined:\nFor Text, the `value` is a string with\
            \ a maximum length of 250. \nFor Array, the `value` is an array of strings\
            \ with a maximum length of 250.\nFor Number, the `value` is a signed decimal\
            \ number.\nFor Boolean, the `value` is either `true` or `false`.\nFor\
            \ Time, the `value` is a Unix timestamp in milliseconds.\nFor Long Text,\
            \ the `value` is a string with a maximum length of 5000."
          type: object
      type: object
    ContactCreateRequest:
      description: Contains the properties of the contact to be created.
      example:
        phoneNumber: +16315551111
        countryCode: US
        nickname: nickname
        email: support@example.com
        tags:
        - tags
        - tags
        - tags
        - tags
        - tags
        customAttributes:
        - name: name
          value: "{}"
        - name: name
          value: "{}"
        ownerEmail: support@example.com
      properties:
        nickname:
          description: "Contact's nickname. Maximum length: 250 characters."
          example: nickname
          maxLength: 250
          type: string
        phoneNumber:
          description: "Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
            \ format."
          example: +16315551111
          type: string
        countryCode:
          description: "Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country\
            \ code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          example: US
          type: string
        email:
          description: "Contact's email address.\nIf present, the email address must\
            \ be unique."
          example: support@example.com
          maxLength: 250
          type: string
        tags:
          description: "Contact's tags. Max items: 50. Max characters per tag: 50."
          items:
            description: "Tag. Maximum length: 50 characters."
            maxLength: 50
            type: string
          maxItems: 50
          type: array
        customAttributes:
          description: Contact's custom attributes.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
          type: array
        ownerEmail:
          description: The email address of the contact's owner.
          example: support@example.com
          maxLength: 250
          type: string
      required:
      - phoneNumber
      type: object
    ContactPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      description: Represents a given page of contacts.
      example:
        items:
        - sourceId: batch_import_123
          tags:
          - tags
          - tags
          - tags
          - tags
          - tags
          ownerEmail: support@example.com
          sourceUrl: https://example.com/signup
          phoneNumber: +16315551111
          lastSeen: 2022-06-01T12:00:00Z
          createTime: 2022-06-01T12:00:00Z
          sourceType: API
          countryCode: US
          nickname: nickname
          lastMessageToPhoneNumber: +16315551111
          id: "1693364594105000026"
          countryName: countryName
          email: support@example.com
          customAttributes:
          - name: name
            value: "{}"
          - name: name
            value: "{}"
        - sourceId: batch_import_123
          tags:
          - tags
          - tags
          - tags
          - tags
          - tags
          ownerEmail: support@example.com
          sourceUrl: https://example.com/signup
          phoneNumber: +16315551111
          lastSeen: 2022-06-01T12:00:00Z
          createTime: 2022-06-01T12:00:00Z
          sourceType: API
          countryCode: US
          nickname: nickname
          lastMessageToPhoneNumber: +16315551111
          id: "1693364594105000026"
          countryName: countryName
          email: support@example.com
          customAttributes:
          - name: name
            value: "{}"
          - name: name
            value: "{}"
      properties:
        items:
          description: An array containing contact objects.
          items:
            $ref: '#/components/schemas/Contact'
          type: array
      type: object
[...]
